html{
    height: 100vh;
  }
  

 
  .req{
    color: red;
  }
 .adminconfirmpasswordbtn{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 6%;
  padding-bottom: 2%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -4.5%;
border: none;
 }
  
 .adminconfirmpasswordbtn:hover{
  background-color: #14335D;
 }

  
  
  
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
    .adminconfirmpasswordbtn {
      background-color: #0A8996;
      color: #fff;
      border-radius: 13px;
      width: 13vw;
      height: 7vh;
      font-size: 1.3vw;
      font-weight: 700;
      margin-top: 41%;
      padding-bottom: 0%;
      font-family: 'Rubik';
      font-style: normal;
      margin-left: 15%;
      border: none;
    }
  
    .adminconfirmpasswordbtn:hover{
      background-color: #14335D;
     }
    
} 
  
  
  /* Media query for mobile */
  @media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  
   
    .signin {
      width: 270px;
      height: 76px;
      background-color: #14335D;
      margin-left: 28%;
      margin-top: 6%;
      font-size: 36px;
    }
  
 
  
 
  .email {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
  }