html{
    height: 100vh;
  }
  

 
  .req{
    color: red;
  }
  
  .adminresetpasswordbtn{
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 12vw;
    height: 5vh;
    font-size: 1vw;
    font-weight: 500;
    margin-left: 0%;
    margin-bottom: -1%;
    padding: 1%;
    
  }
  .adminresetnewpass{
    position: relative;
    margin-left: -57%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0%;
    margin-top: 1%;
  }
 
  .admincurrentpass{
    position: relative;
    margin-left: -50%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0%;
    margin-top: 3%;
  }

  .adminresetconfirmpass
  {
    position: relative;
    margin-left: -48%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0rem;
  }
  
  
  
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {

  
   
  .adminresetpasswordbtn {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 12vw;
    height: 5vh;
    font-size: 1vw;
    font-weight: 500;
    margin-left: 0%;
    margin-bottom: -1%;
    padding: 1%;
}


.admincurrentpass {
    position: relative;
    margin-left: -38%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 1%;
    margin-top: 3%;
}

 .adminresetnewpass{
    position: relative;
    margin-left: -47%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 1%;
    margin-top: 1%;
 }
.adminresetconfirmpass {
    position: relative;
    margin-left: -36%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0rem;
}


} 
  
  