html{
    height: 100vh;
  }
  

 
  .req{
    color: red;
  }
  
  .adminverifybtn{
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 10vw;
    height: 6vh;
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 6%;
    padding: 2%;
    font-family: 'Rubik';
    font-style: normal;
    margin-left: -3%;
    border: none;
  }
  .adminverifybtn:hover{
    background-color: #14335D;
  }
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {

  
   
  .adminverifybtn {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 10vw;
    height: 6vh;
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 30%;
    padding: 2%;
    font-family: 'Rubik';
    font-style: normal;
    margin-left: 17%;
    border: none;
}
.adminverifybtn:hover{
  background-color: #14335D;
}
} 
  
  
  /* Media query for mobile */
  @media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  
  
    .signin {
      width: 270px;
      height: 76px;
      background-color: #14335D;
      margin-left: 28%;
      margin-top: 6%;
      font-size: 36px;
    }
  
 
  
 
  .email {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
  }