/* 
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    button, [type='button'], [type='reset'], [type='submit'] {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
} */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
   
}

.center-left {
    display: flex;
    align-items: center;
    justify-content: center;
}



.dashboard-card-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    justify-items: center;

}
.w-40{
    width: 40rem;
}
.card-green {
    height: 20rem;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0A8996;
    border-radius: 18px;
    color: white;
}
.card-green-border{
    border: 7px solid rgba(10, 137, 150, 1);
    border-radius: 22px;
    margin-top: 12px;
    justify-content: center;
}
.card-green-empty{
    margin-top: 12px;
}


.dashboard-space-between{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
    color: #0A8996;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 500;
}

.dashboard-space-between-item{
    width: 100;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 500;
}

.last-space div:last-child{
   margin-bottom: 24px;
}


.dash-heading{
    font-size: 30px;
    font-weight: 700;
    font-family: Inter;
    color: white;
    line-height: 2.7rem;
}

.dash-heading-md{
    font-size: 25px;
    font-weight: 500;
    font-family: Inter;
    color: white;
    line-height: 2.7rem;
}

.dash-heading-sm{
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    color: white;
    line-height: 2rem;
}

.float-left{
    text-align: left;
    margin-left: 1rem;
}
.dash-icon{
    height: 6rem;
    width: 6rem;
}
.icon-bg-white-round{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    background-color: white;
}

.btn-bg-white {
    border-radius: 1rem;
    background-color: white;
    color: #14335D;
    padding: 0.5rem 2rem;
    font-weight: 700;
    font-family: Inter;
    font-size: 2rem;
}

.sdcard {
    width: fit-content;
    margin-left: 24%;
    margin-bottom: 10%;
    border: none;
    cursor: pointer;
  }
  
.highlight-active{
    background-color: #E8F5E9;
    border-radius: 150px;
    color: #0D960A;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-width: 0;
    font-size: 12px;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #0D960A;
  }

.highlight-inactive{
    background-color: #FFDBDB;
    border-radius: 150px;
    color: #FF0000;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-width: 0;
    font-size: 12px;
}

.dot-inactive {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #960A0A;
  }

  .blue-bg{
    background-color: #14335D;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
  }

  .btn-add-from {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    border-width: 0;
    width: 180px;
    height: 48px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    margin-right: 34%;
  }