.center-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.table-top-right-content{
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 2rem;
}
.search {
  outline: none;
  border: none;
  height: 40px;
  width: 20rem;
  border: 0;
  background: none;
  border-radius: 1.5rem;
  margin-left: 1rem;
}

.table-search{
  border: 2px solid rgba(0, 0, 0  );
  border-radius: 1.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: #14335D;
}

.table-search img{
  color: #14335D;
}

.table-add-new-button {
  border-radius: 150px;
  padding: 1rem;
  font-weight: 500;
  color: #0D960A;
  background-color: #E8F5E9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  border: 0;
  max-height: 50%;
  white-space: nowrap;
  word-wrap: break-word;
  overflow:hidden;
}

.approve-active{
  border-radius: 1rem;
  padding: 0.5rem;
  width: 40%;
  color: white;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  background-color: #0A8996;
}

.approve-inactive{
  border-radius: 1rem;
  padding: 0.5rem;
  width: 40%;
  color: black;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  background-color: #BED7DA;
}

  
.formclass {
  margin-top: 10vh;
  margin-left: 10vh;
}

