.center-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

#table-header {
  background-color: #F9FAFF;
  font-family: 'Inter', sans-serif;
  border-collapse: separate;
  border: 2px solid #14335D;
  border-radius: 2rem;
  border-top-width: 0;
}

#table-header th:first-child{
  border-top-left-radius:1.8rem;
}

#table-header th:last-child{
  border-top-right-radius:1.8rem;
}

.table-th {
  background-color: #14335D;
  color: #fff;
}


#table-head td:hover{
  color: #0A8996;
}


.table-top-right-content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.table-search{
  border: 2px solid rgba(0, 0, 0, 0.25  );
  border-radius: 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: #14335D;
  padding-right: 2rem;
}

.table-search img{
  color: #14335D;
}

.table-add-new-button {
  width: 15%;
  border-radius: 150px;
  padding: 1rem;
  font-weight: 600;
  color: #0D960A;
  background-color: #E8F5E9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  border: 0;
  max-height: 50%;
  white-space: nowrap;
  word-wrap: break-word;
  overflow:hidden;
}

.approve-active{
  border-radius: 1rem;
  padding: 0.5rem;
  width: 40%;
  color: white;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  background-color: #0A8996;
}

.approve-inactive{
  border-radius: 1rem;
  padding: 0.5rem;
  width: 40%;
  color: black;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  background-color: #BED7DA;
}

