.Policycontainer {
    /* background-image: url(../../../public/images/dashboardbackground.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 102.5%;
    height: 81vh;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -0.5%;
    margin-left: -1.5%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 45px;
}
.Adminpolicydisplay {
    position: absolute;
    width: 27vw;
    height: 9vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 2vw;
    margin: auto;
    margin-top: -7%;
    margin-left: 27%;
    padding: 1%;
}
.policy_page-label {
    width: 16vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    padding-top: 18px;
    margin: auto;
    margin-top: -2.5%;
    margin-left: 30%;
    position: absolute;
}
.policy_page-label label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;  
      font-size: 1.2vw;
      text-align: center;  
      color: #14335D;
  }
    .Adminpolicydisplay label{
    
        display: inline-block;
        padding: 3%;
        margin-bottom: 2%;
        font-weight: 700;
    
    }
    .Ppolicy_side_Img {
        display: flex;
        margin-top: 37.2%;
        margin-left: -21%;
        /* max-width: 30%; */
        width: 20%;
        height: 16%;
        margin-bottom: 5%;
        position: absolute;
    }
    .policiestextbox {
        box-sizing: border-box;
        max-width: 90%;
        justify-content: center;
        text-align: justify;
        /* margin-right: -158%; */
        margin-left: 10%;
        margin-top: 3%;
        position: absolute;
        
    }
    .policiespara{
        font-size: 1.3vw;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
        .Policycontainer {
            /* background-image: url(../../../public/images/dashboardbackground.svg); */
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: relative;
            box-sizing: border-box;
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
            border-radius: 35px;
            max-width: 70%;
            height: 80vh;
            margin-right: 5%;
            margin-left: 14%;
            margin-top: 2%;
        }
        .Adminpolicydisplay {
            position: absolute;
            width: 27vw;
            height: 9vh;
            background-color: #AED8DC;
            border-radius: 30px;
            font-size: 2vw;
            margin: auto;
            margin-top: -7%;
            margin-left: 27%;
            padding: 1%;
        }
        .Adminpolicydisplay label {
            display: inline-block;
            padding: 2%;
            margin-bottom: 2%;
            font-weight: 700;
            font-size: 2vw;
        }

        .policiespara{
            font-size: 1.3vw;
        }
    
    
    }