html{
    height: 100vh;
  }
  
  .superadmincontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 2fr;
    grid-template-rows: 2.4fr 2fr;
    grid-template-areas: "Superadminlogo superadminloginimg"
      "Superadminloginform superadminloginimg"
  }
  /* #Superadminlogo{
    margin-top: 2rem;
    margin-left: 9rem;
    margin-bottom: -60rem;
    position: relative;
  }
  */
  #Superadminlogo{
    margin-top: -95%;
    margin-left: 2%;
    margin-bottom: -15%;
    position: relative;
  }

  #Superadminlogo img{
    width: 10vw;
  }

  #superadminloginimg {
    /* background-color: blueviolet;    */
    grid-area: superadminloginimg;
  }
  
  #superadminloginimg img{
    height: 100vh;
    width: 63vw;
  }
  
  #Superadminloginform {
   
    grid-area: Superadminloginform;
    position: relative;
    margin-left: -4rem;
    /* margin-top: -35rem; */
  }
  
  .req{
    color: red;
  }
  
  .adminloginbtn{
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 12vw;
    height: 5vh;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 0%;
    margin-bottom: -1%;
    padding: 1%;
    
  }
  .signinlabel{
    background-color: #0b2447;
    color: #fff;
    width: 25vw;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem !important;
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 2vw;
    margin-top: 8%;
  }
  
  .Superadmininputfield
  {
    position:relative;
    width: 25vw;
    height: 50%;
    left: 25.5%;
  }
  
  .adminemail{
    position: relative;
    float: left;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0%;
    margin-top: 3%;
  }
  
  .adminpassword
  {
    position: relative;
    float: left;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
  
  .adminforgotpassword {
    margin-left: 2%;
    margin-top: 1%;
}
.adminforgotpassword a {
    font-size: 1.4rem;
    font-weight: 500;
}
  .adminemailtextbox{
    width: 25vw;
  }
  
  .adminpasswordbox{
    width: 25vw;
  }
  
  
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
    #Superadminloginform {
      grid-area: Superadminloginform;
      position: relative;
      margin-left: -2rem;
      /* margin-top: -7rem; */
  }
  #Superadminlogo {
    margin-top: -108%;
    margin-left: 2%;
    margin-bottom: -15%;
    position: relative;
}
    .superadmincontainer {
      overflow-y: hidden;
    }
    #superadminloginimg img {
      width: auto;
      height: 100vh;
  }


.adminemailtextbox {
    width: 22vw;
    height: 5vh;
    margin-bottom: -4%;
    margin-left: 6%;
}
  
.adminpasswordbox {
    width: 22vw;
    height: 5vh;
    margin-bottom: 1%;
    margin-left: 6%;
}
.adminforgotpassword {
    margin-left: 2%;
    margin-top: 1%;
}
} 
  
  