html{
    height: 100vh;
  }
  
  .superadmincontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 2fr;
    grid-template-rows:  2.4fr 2fr;
    grid-template-areas: "Superadminlogo superadminloginimg "
                          "Superadminloginform superadminloginimg"
  }
  /* #Superadminlogo{
    margin-top: 2rem;
    margin-left: 9rem;
    margin-bottom: -60rem;
    position: relative;
  }
  */
  #Superadminlogo{
    grid-area: Superadminlogo;
  }

  #Superadminlogo img{
    margin-top: 10%;
    width: 28vw;
    height: 28vh;
    margin-left: 3%;
  }

  #superadminloginimg {
    /* background-color: blueviolet;    */
    grid-area: superadminloginimg;
  }
  
  #superadminloginimg img{
    height: 100vh;
    width: 65vw;
  }
  
  #Superadminloginform {
   
    grid-area: Superadminloginform;
    position: relative;
    margin-left: -4rem;
    /* margin-top: -35rem; */
  }
  
  .req{
    color: red;
  }
  .adminloginbtn {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 12vw;
    height: 6vh; 
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 6%;
    padding-bottom: 3%;
    font-family: 'Rubik';
  font-style: normal;
  margin-left: -4.5%;
  border: none;
  }
  
  .adminloginbtn:hover {
    background-color: #14335D;
  }
  
  .Admin_SignIn {
    width: 23vw;
    height: 6vh;
    background-color: #14335D;
    margin-left: 17%; 
    margin-top: 8%;
  
    padding: 0%;
    
  }
  
  .Admin_SignIn_Label{
    display:inline-block;
    margin-top: 2.5%;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
  }
  .Superadmininputfield
  {
    position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;

  }
  
  .adminemail{
    position: absolute;
 margin-top: -10%;
 margin-left: -60%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
  font-style: normal;
font-weight: 500;
  }
  
  .adminpassword
  {
    position: absolute;
  margin-top: -9.5%;
  margin-left: -60%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
  }
  
  .adminforgotpassword{
    margin-left: -1%;
    margin-top: 3.5%;
     text-decoration: none;
     /* font-size: 1.4vw; */
   }
   .adminforgotpassword a {
    font-size: 1.1vw;
    color: #FD6B22;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
      }
      .adminforgotpassword a:hover{
        text-decoration: none;
      }
  .adminemailtextbox{
    width: 23vw;
    height: 4.5vh;
    margin-left: -10%;
    margin-top: -5%;
  }
  
  .adminpasswordbox{
    width: 23vw;
    height: 4.5vh;
    margin-left: -10%;
    margin-top: 8%;
  }
  
  
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
    #Superadminloginform {
      grid-area: Superadminloginform;
      position: relative;
      margin-left: -2rem;
      /* margin-top: -7rem; */
  }
  .Admin_SignIn {
    width: 29vw;
    height: 8vh;
    background-color: #14335D;
    margin-left: 18%;
    margin-top: 8%;
    font-size: 2vw;
}
.adminloginbtn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 13px;
  width: 13vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 41%;
  padding-bottom: 0%;
  font-family: 'Rubik';
  font-style: normal;
  margin-left: 15%;
  border: none;
}
.adminloginbtn:hover {
  background-color: #14335D;
}

.Admin_SignIn_Label {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}
  #Superadminlogo img{
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
    margin-left: 12%;
}
    .superadmincontainer {
      overflow-y: hidden;
    }
    #superadminloginimg img {
      height: 100vh;
      width: 60vw;
  }

  .adminemail {
    position: absolute;
    margin-left: -59%;
    margin-top: 3%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
  }

.adminemailtextbox {
  width: 29vw;
  height: 5.5vh;
  margin-left: -10%;
  margin-top: 14%;
  position: absolute;
}
.adminpassword {
  position: absolute;
  margin-left: -59%;
  margin-top: 20%;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
} 
.adminpasswordbox {
  width: 29vw;
  height: 5.5vh;
  margin-left: -10%;
  margin-top: 30%;
  position: absolute;
}
.adminforgotpassword {
  margin-top: 3%;
  margin-left: 16%;
}
.adminforgotpassword a:hover{
  text-decoration: none;
}
.adminforgotpassword a {
font-size: 1.1vw;
color: #FD6B22;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
text-decoration: none;
  }
} 
  
  