html{
    width: 100vw;
    height: 100vh;
}
.Videoocontainer {
    /* background-image: url("../../public/images/AdminBgImg.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 0.5%;
    box-sizing: border-box;
    border-radius: 35px;
    max-width: 70%;
    height: 75vh;
    margin-right: 5%;
    margin-left: 24%;
    margin-top: 2%;
   
}
.videodisplay {
    position: absolute;
    width: 27vw;
    height: 9vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 2vw;
    margin: auto;
    margin-top: -7%;
    margin-left: 27%;
    padding: 1%;
}

    .videodisplay label{
    
        display: inline-block;
        padding: 3%;
        margin-bottom: 2%;
        font-weight: 700;
    
    }
    .videoclassbgimg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        background-image: url("../../public/images/AdminBgImg.svg"); 
        max-width: 100%;
        height: 80vh;
        margin-left: -49%;
       border-radius: 45px;
    }
    .VideoButton {
        position: absolute;
        margin-top: 3%;
        margin-left: 67%;
    }
    .VideoAddBtn{
        background: #E8F5E9;
        border-radius: 18px;
        border: none;
        width: 12vw;
        height: 4vh;
        font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #0D960A;
font-size: 1.2vw;
    }
    .VideoAddBtn:hover{
        background: #bbcebd;
    }
    .paginate{
        position: absolute;
        margin-top: 65%;
        margin-left: 78%;
    }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    .Videoocontainer {
        /* background-image: url(../../../public/images/dashboardbackground.svg); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        margin-top: 0.5%;
        box-sizing: border-box;
        text-align: center;
         border-radius: 35px;
        max-width: 70%;
        height: 80vh;
        margin-right: 5%;
        margin-left: 24%;
        margin-top: 2%;
    }
    .videodisplay {
        position: absolute;
        width: 27vw;
        height: 9vh;
        background-color: #AED8DC;
        border-radius: 30px;
        font-size: 2vw;
        margin: auto;
        margin-top: -7%;
        margin-left: 27%;
        padding: 1%;
    }
    .videodisplay label {
        display: inline-block;
        padding: 2%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 2vw;
    }
    .videoclassbgimg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        background-image: url(http://localhost:3000/static/media/AdminBgImg.0d5973b….svg);
        max-width: auto;
        height: 77vh;
        margin-left: -46%;
        border-radius: 30px;
        margin-top: 7%;
    }
    .VideoButton {
        position: absolute;
        margin-top: 3%;
        margin-left: 67%;
    }
    .VideoAddBtn{
        background: #E8F5E9;
        border-radius: 18px;
        border: none;
        width: 12vw;
        height: 4vh;
        font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #0D960A;
font-size: 1.2vw;
    }


}