html {
  height: 100vh;
}

.aeacontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "aeasection aeasection"
    "aeasocietysection cardsection"
}

#aeasection {

  grid-area: aeasection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#aeasocietysection {

  grid-area: aeasocietysection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aeabackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.aeaheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "aealogo aeasociety aeaspace aeanotification aeasetting aealogoutbutton";
}

#aealogo {
  grid-area: aealogo;
}


  #aealogo img {
    margin-top: 6%;
    margin-left: -35%;
    margin-bottom: 5%;
    width: 40%;
}


#aeasociety {
  grid-area: aeasociety;
}

#aeasociety label {
  margin-top: 20%;
  margin-left: -130%;
  width: 8vw;
  height: 6vh;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 1.4vw;
}

#aeaspace {
  grid-area: aeaspace;
}

#aeanotification {
  grid-area: aeanotification;
}

#aeanotification img {
  margin-top: 100%;
}

#aeasetting {
  grid-area: aeasetting;
}

#aeasetting img {
  margin-top: 100%;
}

#aealogoutbutton {
  grid-area: aealogoutbutton;
}

#aealogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
  width: 1.8vw;
}

.aeasocietyname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.aeasocietyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.aeasocietyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.aeasideimage img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 5%;  
}
.aeadisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
}
.aeadisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.3vw;
  text-align: center;  
  color: #14335D;
}

.labelsize {
  font-size: 20px;
}

.btnAddAmenity {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 8vw;
  height: 5vh;
  font-size: 1vw;
  font-weight: 700;
  margin-top: 4%;
  margin-right: 34%;
  border: none;
}
.btnAddAmenity:hover{
  background-color: #14335D;
}
.aeaclass {
  margin-top: 5%;
  margin-left: 25%;
}
.sideBord{
  background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .sideBord{
    background: #FFFFFF;
  border: 2px solid #14335D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  }

  .aeasideimage img {
    display: flex;
    margin-top: 93%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 5%;  
  }

  .aeabackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  .btnAddAmenity {
    background-color: #0A8996;
    color: #fff;
    border-radius: 10px;
    width: 8vw;
  height: 5vh;
  font-size: 1.1vw;
  font-weight: 700;
    margin-top: 4%;
    margin-right: 35%;
    padding-top: 0%;
    border: none;
  }
  .btnAddAmenity:hover{
    background-color: #14335D;
  }

  .aeadisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.aeadisplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}



}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .aeasideimage {
    display: none;
  }

  #aeasocietysection {
    display: none;
  }

  #aeasociety {
    display: none;
  }

  #aealogo img {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 140%;
  }

  .aeabackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .aeadisplay {
    width: 160px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin-left: 78%;
}

.btnAddAmenity {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 158px;
  margin-right: auto;
}

.aeaclass {
  margin-top: 5%;
  margin-left: 42%;
  width: 170%;
}

}