html {
  height: 100vh;
}

.addguard_sideimg img {
  display: flex;
  margin-top: 100%;
  max-width: 90%;
  height: auto;
  margin-left: 13%;
  margin-bottom: 5%;
  
}

.noticelist h4{
  color: #434242;
}
.noticelist a{
 color: #757575;
}
.form-group6 {
  margin-bottom: 2%;
}
.btnAdd5{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 13vw;
  height: 6vh;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 30%;
  padding-top: 0%;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
 

  .addguard_sideimg img {
    display: flex;
    margin-top: 125%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
}
.btnAdd5 {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 11vw;
  height: 6vh;
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 30%;
  padding-top: 0%;
}

}