html {
  height: 100vh;
}



.btnAdd4{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 15vw;
  height: 6vh;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 30%;
  padding-top: 0%;
}

.labelsize2{
  
    font-size: 1vw;
    max-width: 17%;


}

.form-group5 {
  margin-bottom: 3.5%;
}


.noticelist h4{
  color: #434242;
}
.noticelist a{
  color: #000
}
/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  .btnAdd4 {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 15vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: 400;
    margin-top: 4%;
    margin-right: 30%;
    padding-top: 0%;
}

.labelsize2 {
  font-size: 1vw;
  max-width: 18%;
  /* margin-bottom: 1%; */
}
.form-group5 {
margin-bottom: 4.5%;
}

/* .col-lg-4 {
position: relative;
height: 4vh;
padding-right: 4%;
padding-left: 0%;
display: flex;
width: 36%;
} */

}
