html {
  height: 100vh;
}

.AMTSideIMG img {
  display: flex;
  margin-top: 68%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}
  
  #societynamesection {
    /* background-color: blueviolet; */
    grid-area: societynamesection;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #cardsection {
    /* background-color: blue; */
    grid-area: cardsection;
    position: relative;
  
  }
  
  .addguestbackgroundimg {
    /* background-image: url("../../../public/images/dashboardbackground.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 0.5%;
  }
 
  .AMM_societyname label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #14335D;
    margin-left: 4%;
    margin-top: 12%;
    font-size: 1.2vw;
    padding-top: 0.5%;
  }
  .AMM_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .AMM_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 5%;
  }
 
  .AMM_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
    margin-top: -3%;
  }
  .AMM_display label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;  
    font-size: 1.2vw;
    text-align: center;  
    color: #14335D;
  }
.AMM_Add_btn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 8vw;
  height: 5vh;
  font-size: 1vw;
  font-family: 'Rubik';
  font-style: normal;
  margin-top: 4%;
  margin-right: 34%;
  padding: 1%;
  font-weight: 700;
  border: none;
}
.AMM_Add_btn:hover {
  background-color: #14335D;
}
.AMM_form{
  max-width: 100%;
  margin-top: 3%;
}
.Todate{
  margin-right: 10%;
  margin-left: -37.5%;
  font-size: 1.1vw;
  color: #14335D;
}
.Todateinput{
  width: 10vw;
  height: 5vh;
  padding: 0%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #14335D;
  border-radius: 8px;
  margin-top: 0%;
  margin-right: 4.5%;
}
.Fromdate{
  margin-right: 4%;
  font-size: 1.1vw;
  color: #14335D;
}
.Fromdateinput{
  width: 10vw;
  height: 5vh;
  padding: 1%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #14335D;
  border-radius: 8px;
  margin-top: 0%;
  margin-right: 6%;
}
 
.AMt_Link{
  margin-right: 19%;
  color:#757575;
  font-size: 1.1vw;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
 
 }
.AMt_Link:hover{
 color: #000;
 text-decoration: none;
}
 .Amm_Link {
  color: #000;
  font-size: 1.1vw;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
 
 }
 .Amm_Link:hover{
   color: #000000;
   text-decoration: none;
 }
.AMMResident{
  margin-right: 7%;
  margin-left: -47%;
  font-size: 1.1vw;
  color: #14335D;
  
}
.AMMDesignation{
  margin-right: 5%;
  margin-left: -48%;
  font-size: 1.1vw;
  color: #14335D;
}
.AMMinput{
  width: 28vw;
  height: 5vh;
  padding: 0%;
  background: #FFFFFF;
  border: 2px solid #14335D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0%;
  padding-left: 1%;
}
.AMMinputR{
  width: 28vw;
  height: 5vh;
  padding: 0%;
  background: #FFFFFF;
  border: 2px solid #14335D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0%;
}
/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  .AMTSideIMG img {
    display: flex;
    margin-top: 50%;
    max-width: 88%;
    height: auto;
    margin-left: 6%;
  }

.dateto{
  font-size: 1vw;
  font-weight: 600;
}
.AMM_display {
  width: 17vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding: 1%;
  margin: auto;
  margin-top: -3%;
  margin-left: 38%;
}
.AMM_display label {

  font-size: 1.2vw;
  text-align: center;
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
.AMM_Add_btn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 10px;
  width: 9vw;
  height: 5vh;
  font-size: 1vw;
  font-family: 'Rubik';
  font-style: normal;
  margin-top: 4%;
  margin-right: 32%;
  padding: 1%;
  font-weight: 700;
  border: none;
}
.AMM_Add_btn:hover {
  background-color: #14335D;
}
}