.AP_societyname label {
    color: #000;
    margin-left: 4%;
    margin-top: 13%;
    font-size: 1.2vw;
    padding-top: 0.5%;
  }
  .AP_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .AP_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 4%;
  }
  .AP_Button{
    background: #0A8996;
border-radius: 9px;
width: 10vw;
height: 5vh;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 1vw;
text-align: center;
margin-left: -34%;
color: #FFFFFF;
margin-top: 5%;
padding: 1%;

  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .AP_societyname label {
        color: #000;
        margin-left: 4%;
        margin-top: 13%;
        font-size: 1.2vw;
        padding-top: 0.5%;
      }
      .AP_societyname {
        display: flex;
        width: 80%;
        height: 12%;
        background-color: rgba(10, 137, 150, 0.33);
        margin-left: 10%;
        margin-top: 12%;
        border-radius: 24px;
      }
      .AP_societyname img {
        margin-left: 10%;
        width: 25%;
        height: 70%;
        margin-top: 4%;
      }
      .AP_Button{
        background: #0A8996;
    border-radius: 9px;
    width: 10vw;
    height: 5vh;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    text-align: center;
    margin-left: -34%;
    color: #FFFFFF;
    margin-top: 5%;
    padding: 1%;
    
      }
  }