.AP_societyname label {
    margin-left: 4%;
    margin-top: 12%;
    font-size: 1.2vw;
    padding-top: 0.5%;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  }
  .AP_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .AP_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 5%;
  }
  .AP_Button{
    background: #0A8996;
border-radius: 9px;
width: 9vw;
height: 5vh;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 0.9vw;
text-align: center;
margin-left: -34%;
color: #FFFFFF;
margin-top: 5%;
padding: 1%;
border: none;

  }
  .AP_Button:hover{  
background: #14335D;
  }
  .AP_sideimg img{
    display: flex;
    margin-top: 43%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  .AddGparking_sideimg img{
    display: flex;
    margin-top: 64%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;
  }
  .APdisplay{
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
    margin-top: -3%;
  }
  .VLSECLink{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #757575;
    font-size: 1.1vw;
  margin-left: -25%;
  }
  .VLSECLink:hover{
  color: #000;
  text-decoration: none;
  }
  .APdisplay label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #14335D; 
    font-size: 1.2vw;
    text-align: center;  
}
.AddParksidelinks{
  margin-right: 20%;
  margin-top: 10%;
  }
  .AddParksidelinks label{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
  text-align: center;
  color: #000000;
  font-size: 1.2vw;
  }
  .Viewpsec {
    font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: center;

  color: #5C5C5C;
  }
  .Addpsec {
    font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: center;

  color: #000000;
  }
  .Viewpsec:hover{
    color: #000000;
    text-decoration: none;
  }
  .Addpsec:hover{
    color: #000000;
    text-decoration: none;
  }
  .ADDParkBor{
    background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .ADDParkBor{
      background: #FFFFFF;
  border: 2px solid #14335D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
    }
    .AddParksidelinks {
      margin-right: 38%;
      margin-top: 10%;
    }
    .AddParksidelinks label{
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
    text-align: center;
    color: #000000;
    font-size: 1.3vw;
    }
    .APdisplay label {
      
      font-size: 1.4vw;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      color: #14335D;
      
      text-align: center;
  }
  .APdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding: 0%;
    margin: auto;
    margin-top: -3%;
    margin-left: 39%;
}
.AP_sideimg img {
  display: flex;
  margin-top: 26%;
  max-width: 88%;
  height: auto;
  margin-left: 5%;
}
.AddGparking_sideimg img {
  display: flex;
  margin-top: 63%;
  max-width: 88%;
  height: auto;
  margin-left: 5%;
}
 
      .AP_Button{
        background: #0A8996;
    border-radius: 8px;
    width: 9vw;
    height: 5vh;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 0.6vw;
    text-align: center;
    margin-left: -34%;
    color: #FFFFFF;
    margin-top: 5%;
    padding: 1%;
    border: none;
      }
      .AP_Button:hover{  
        background: #14335D;
          }
  }