.ASocMSideIMG img{
    margin-top: 98%;
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 3%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
.ASocMSideIMG img {
    display: flex;
    margin-top: 50%;
    max-width: 88%;
    height: auto;
    margin-left: 6%;
}

}