html {
    height: 100vh;
  }


  
  .ownerlabel{
    background:  #304B71;
    max-width: 45%;
    border: none;
    border-radius:21px;
    margin-left: 28%;
    height: 5vh;
    padding: 1%;
    color: #FFFFFF;
    ;
  }
  .ownerlabel label{
    font-size: 1.5vw;
    font-weight: 600;
  }

  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  
  
  }