html {
  height: 100vh;
}

.alacontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "alaheadersection alaheadersection"
    "alasection cardsection"
}

#alaheadersection {

  grid-area: alaheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#alasection {
  grid-area: alasection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.alabackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.alafirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "alalogo alasociety alaspace alanotification alasetting alalogoutbutton";
}

#alalogo {
  grid-area: alalogo;
}

#alalogo img {
  margin-top: 5%;
  margin-left: -31%;
  margin-bottom: 5%;
  width: 40%;
}

#alasociety {
  grid-area: alasociety;
}

#alasociety label {
  margin-top: 20%;
  margin-left: -130%;
  width: 8vw;
  height: 6vh;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 1.5vw;
}

#alaspace {
  grid-area: alaspace;
}

#alanotification {
  grid-area: alanotification;
}

#alanotification img {
  margin-top: 100%;
}

#alasetting {
  grid-area: alasetting;
}

#alasetting img {
  margin-top: 100%;
}

#alalogoutbutton {
  grid-area: alalogoutbutton;
}

#alalogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
  width: 1.8vw;
  height: auto;
}

.ALAbtnApprove {
  background-color: #017069;
  color: #fff;
  border-radius: 14px;
  width: 6vw;
  height: 5vh;
  font-size: 1vw;
  font-weight: 700;
  padding: 1%;
 
  margin-right: 36%;
}

.ALAbtnApprove:hover {
  background-color: #14335D;
}

.ALAbtnDeny {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 6vw;
  height: 5vh;
  font-size: 1vw;
  font-weight: 700;
  margin-top: -20%;
  padding: 1%;
  margin-left: 38%;
}

.ALAbtnDeny:hover {
  background-color: #14335D;
}

.ALAname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.ALAname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.ALAname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.ALASimage img {
  display: flex;
  margin-top: 103%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}


.ALAdisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
}
.ALAdisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.1vw;
  text-align: center;  
  color: #14335D;
  padding: 2%;
}

.alacard {
  width: 25%;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
}

.alaclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 0%;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.alaclass label{
  font-weight: 200;
}
.alablockdisplay{
  font-weight: 600;
}

.alablockdisplay {
  color: #1A1717;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;

}

.alalabels {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.aladate {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.alatime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.outtime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.noofpeople {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.alalabel {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.alaowner {
  display: flex;
  width: 38%;
  line-height: 150%;
  background-color: #304B71;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-left: 4.5%;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .ALASimage img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }
  .alabackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }


  .ALAdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
   
    padding: 0.5%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.ALAdisplay label {
  
    font-size: 1.1vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}

  .alacard {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 2px solid #14335D;
    border-radius: 20px;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .alasideimage {
    display: none;
  }

  #alasection {
    display: none;
  }

  #alasociety {
    display: none;
  }

  .alabackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .aladisplay {
    width: 280px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin-left: 26%;
}

#alalogo img {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 140%;
}

.alacard {
  width: 138%;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
  margin-left: 10%;
}

.alaowner {
  display: flex;
  width: 38%;
  line-height: 150%;
  background-color: #304B71;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-left: 7%;
}

.alabtnDeny {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -22%;
  padding-top: 0%;
  margin-left: 40%;
}
}