html {
  height: 100vh;
}

.blcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "blheadersection blheadersection"
    "societynamesection blcardsection"
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.dashboard_passcode {
  position: relative;
  top: 30px;
  border: none;
  outline: none;
  background-color: #CFDBEB;
  text-align: center;
  width: 40px;
  border-bottom: 5px solid #000000;

}

#blheadersection {
  /* background-color: aquamarine; */
  /* margin-top: 10%; */
  grid-area: blheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#societynamesection {
  /* background-color: blueviolet; */
  grid-area: societynamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#blcardsection {
  /* background-color: blue; */
  grid-area: blcardsection;
  position: relative;

}

.blbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.societydisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 20px;
  padding-top: 14px;
  margin: auto;
  margin-top: -2%;
}

.firstblsection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "bllogo blsociety blspace blnotification blsetting bllogoutbutton";
}

#bllogo {
  grid-area: bllogo;
}

#bllogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#blsociety {
  grid-area: blsociety;
}

#blsociety label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#blspace {
  grid-area: blspace;
}

#blnotification {
  grid-area: blnotification;
}

#blnotification img {
  margin-top: 100%;
}

#blsetting {
  grid-area: blsetting;
}

#blsetting img {
  margin-top: 100%;
}

#bllogoutbutton {
  grid-area: bllogoutbutton;
}

#bllogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

/* .btnlogout {
  background-color: #0A8996;
  color: #fff;
  margin-top: 18%;
  padding-top: 2%;
} */

.blsocietyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.blsocietyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}

.blsocietyname label {
  color: #000;
  margin-left: 8%;
  margin-top: 10%;
  font-size: 20px;
}

.blsideimage img {
  display: flex;
  margin-top: 40%;
  width: 100%;
  height: auto;
}

.blsidelinks {
  margin-right: 60%;
  margin-top: 10%;
}

.enterpasscodesearch {
  width: 25%;
  height: 10%;
  background-color: #CFDBEB;
  border-radius: 25px;
  border-color: #0A8996;
  border-style: solid;
  margin: auto;
  margin-top: 5%;
  font-size: 20px;
  font-weight: 600;
  color: #0A8996;
}

.enterpasscodesearch img {
  margin-left: 105%;
  margin-top: -8%;
}

.blcard {
  width: fit-content;
  margin-left: 24%;
  margin-bottom: 10%;
  border: none;
  cursor: pointer;
}

.fullcardscss {
  margin-top: 5%;
  padding-left: 25px;
  margin-right: 125px;
  width: 100%;
}

.blminicard {
  margin-left: 50%;
  margin-bottom: 10%;
  border: none;
  background-color: #0A8996;
  width: 70%;
  height: 95%;
  border-radius: 20px;
}

.blblock {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-weight: 600;
}

.blflat {
  width: 40%;
  height: fit-content;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.btnView {
  background-color: #14335D;
  color: #fff;
  border-radius: 14px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 4%;
}

/* Media query for laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #blsociety label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .blsocietyname label {
    margin-left: 7%;
    margin-top: 18%;
    font-size: 15px;
  }

  .blbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 10.5%;
  }

  .blsideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .fullcardscss {
    margin-top: 5%;
    margin-right: 4%;
  }

  .dbcard-img-top {
    width: 150%;
  }

  .dashboard_passcode {
    position: relative;
    top: 36px;
    border: none;
    outline: none;
    background-color: #CFDBEB;
    text-align: center;
    width: 14px;
    border-bottom: 5px solid #000000;
  }

  .enterpasscodesearch {
    width: 35%;
    height: 10%;
    background-color: #CFDBEB;
    border-radius: 25px;
    border-color: #0A8996;
    border-style: solid;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 600;
    color: #0A8996;
  }

  .blminicard {
    margin-left: 50%;
    margin-bottom: 10%;
    border: none;
    background-color: #0A8996;
    width: 90%;
    height: 95%;
    border-radius: 20px;
  }

  .blsocietyname img {
    margin-left: 6%;
    width: 30%;
    height: 70%;
    margin-top: 8%;
  }

  .blsocietyname label {
    margin-left: 1%;
    margin-top: 20%;
    font-size: 15px;
}
}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .blsideimage {
    display: none;
  }

  #societynamesection {
    display: none;
  }

  #blsociety {
    display: none;
  }

  #bllogo img {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;
  }

  .blcard {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 6%;
    margin-bottom: 10%;
    border: none;
  }

  .blbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .societydisplay {
    width: 160px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    /* margin: auto; */
    /* margin-top: -2%; */
    margin-left: 50%;
}

.blminicard {
  margin-left: 50%;
  margin-bottom: 10%;
  border: none;
  background-color: #0A8996;
  width: 128%;
  height: 95%;
  border-radius: 20px;
}

}