html {
  height: 100vh;
}
.addguestcontainer2 {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "addflatsection addflatsection"
    "societynamesection cardsection"
}

.cfullcardscss {
  margin-top: 6%;
  padding-left: 20%;
  margin-left: -16%;
  width: 100%;
}
.SC_societyname label {
  color: #000;
  margin-left: 4%;
  margin-top: 13%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.SC_societyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.SC_societyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}
.csidelinks {
  margin-right: 55%;
  margin-top: 10%;            
}

.sidelinks{
  color:#757575;
  font-weight: 500;
}
.SC_sideimage img {
  display: flex;
  margin-top: 68%;
  max-width: 90%;
  height: auto;
  margin-left: 13%;
  margin-bottom: 5%;  
}

.SC_display {
  width: 20vw;
  height: 9vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 1.5vw;
  margin: auto;
  margin-top: -4%;
  padding-top: 2%;
}

.SC_display label{
 
      display: inline-block;
     
      margin-bottom: -19%;
      font-weight: 700;
  
}

.dashboardcard img{
  width:20vw;
  padding-right: 2%;
  }
  
.noticelist h4{
font-Size: 1.5vw;
}
.noticelist a{
  font-size: 1vw;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {

.SC_display {
  width: 24vw;
  height: 10vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 1.6vw;
  padding-top: 2.2%;
  margin: auto;
  margin-top: -5%;
}

.dashboardcard img{
width:20vw;
padding-right: 2%;
}

.SC_sideimage img {
  display: flex;
    margin-top: 52%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;

}


}