html {
  height: 100vh;
}
.addguestcontainer2 {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "addflatsection addflatsection"
    "societynamesection cardsection"
}

.cfullcardscss {
  margin-top: 6%;
  padding-left: 20%;
  margin-left: -16%;
  width: 100%;
}

.csidelinks {
  margin-right: 55%;
  margin-top: 10%;
}

.sidelinks{
  color:#757575;
  font-weight: 500;
}
.sideimage1 img {
  display: flex;
  margin-top:80%;
 max-width:95%;
  height: auto;
  margin-left: 13%;
  margin-bottom: 4%;
  
}

.Addguestdisplay2 {
  width: 28%;
  height: 7%;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 26px;
  margin: auto;
  margin-top: -35px;
  padding-top: 6px;
}

.Addguestdisplay2 label{
 
      display: inline-block;
     padding: 0%;
      margin-bottom: -19%;
      font-weight: 700;
  
}

.dashboardcard img{
  width:20vw;
  padding-right: 2%;
  }
  
.noticelist h4{
font-Size: 1.5vw;
}
.noticelist a{
  font-size: 1vw;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {

.Addguestdisplay2 {
  width: 24vw;
  height: 10vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 1.5vw;
  padding-top: 2.2%;
  margin: auto;
  margin-top: -16%;
}

.dashboardcard img{
width:20vw;
padding-right: 2%;
}

.sideimage1 img {
  display: flex;
  margin-top: 99%;
  max-width: 93%;
  height: auto;
  margin-left: 9%;
}


}