html {
  height: 100vh;
}
.EG_societyname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.EG_societyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.EG_societyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}
.pagination_ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0A899654;
  color: black;
  width: 30px;
  height: 30px;
  font-weight: 999;
  border-radius: 5px;
}

.pagination_ul .selected
{
  background: #0A8996;
  color: white;
}