html {
  height: 100vh;
}

.NP_Login_Container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "NP_Logo_ID NP_Login_Img"
    "NP_Login_Form_Id NP_Login_Img"
}

#NP_Logo_ID {
  grid-area: NP_Logo_ID;
}

#NP_Logo_ID img {
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}

#NP_Login_Img {

  grid-area: NP_Login_Img;
}

#NP_Login_Img img {
  height: 100vh;
  width: 65vw;
}

#NP_Login_Form_Id {

  grid-area: NP_Login_Form_Id;
  position: relative;
  margin-left: -4rem;
  /* margin-top: -35rem; */
}

.req {
  color: red;
}

.NP_ConFirm_Btn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 6%;
  padding-bottom: 3%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -4.5%;
border:none;
}

.NP_ConFirm_Btn:hover {
  background-color: #14335D;
}

.NP_SignIn {
  width: 23vw;
  height: 6vh;
  background-color: #14335D;
  margin-left: 17%; 
  margin-top: 8%;

  padding: 0%;
  
}

.NP_SignIn_Label{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}

.NP_New_Pass {
  position: absolute;
  margin-top: -10%;
  margin-left: -60%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
}

.NP_Confirm_Password {
  position: absolute;
  margin-top: -9%;
  margin-left: -60%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
}

.NP_Input_Fields {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.NP_Email_Text_Box {
  width: 23vw;
  height: 4.5vh;
  margin-left: -10%;
  margin-top: -5%;
}

.NP_CnfmPass_TextBox {
  width: 23vw;
  height: 4.5vh;
  margin-left: -10%;
  margin-top: 13%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .NP_Confirm_Password {
    position: absolute;
    margin-top: 30%;
    margin-left: -59%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
}
  .NP_New_Pass {
    position: absolute;
    margin-left: -59%;
    margin-top: 3%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
  }
  .NP_CnfmPass_TextBox {
    width: 29vw;
    height: 5.5vh;
    margin-left: -10%;
    margin-top: 40%;
    position: absolute;
}
  #NP_Logo_ID img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
  }
  .NP_SignIn {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
}
.NP_Email_Text_Box {
  width: 29vw;
  height: 5.5vh;
  margin-left: -10%;
  margin-top: 14%;
  position: absolute;
}

.NP_SignIn_Label {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}


.NP_ConFirm_Btn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 13px;
  width: 13vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 52%;
  padding-bottom: 0%;
  font-family: 'Rubik';
  font-style: normal;
  margin-left: 9%;
  border: none;
}
.NP_ConFirm_Btn:hover {
  background-color: #14335D;
}
  .NP_Login_Container {
    overflow-y: hidden;
  }

  #NP_Login_Img img {
    height: 100vh;
    width: 60vw;
  }
}


/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

  #NP_Login_Img {
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #NP_Logo_ID img {
    margin-top: 10%;
    margin-left: 36%;
  }

  .NP_Input_Fields {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  }

  .email {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}