html {
  height: 100vh;
}

.SOC_ENTRCODE_CONTAINER {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "SOC_ENTR_LOGOID SOC_ENTR_LOGIN_Img"
    "Soc_ENTR_LoginFormID SOC_ENTR_LOGIN_Img"
}

#SOC_ENTR_LOGOID {
  grid-area: SOC_ENTR_LOGOID;
}

#SOC_ENTR_LOGOID img {
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}

#SOC_ENTR_LOGIN_Img {
  /* background-color: blueviolet;    */
  grid-area: SOC_ENTR_LOGIN_Img;
}

#SOC_ENTR_LOGIN_Img img {
  height: 100vh;
  width: 65vw;
}

#Soc_ENTR_LoginFormID {


  grid-area: Soc_ENTR_LoginFormID;
  position: relative;
  margin-left: -4rem;
  /* margin-top: -35rem; */
}

.req {
  color: red;
}

.btnverifyOTP {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 10vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 6%;
  padding: 2%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -3%;
border: none;
}

.btnverifyOTP:hover {
  background-color: #14335D;
}

.input_fields3 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.SOC_ENTROTP {
  position: absolute;
  margin-top: -10%;
  margin-left: -60%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
}

.SOC_ENTRCODE {
  width: 23vw;
  height: 6vh;
  background-color: #14335D;
  margin-left: 17%; 
  margin-top: 8%;

  padding: 0%;
  
}

.soccodelabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}


.emailtextbox {
  width: 25vw;
  /* margin-bottom: 20rem; */
}

.socotptextbox {
  width: 23vw;
  height: 4.5vh;
  margin-left: -10%;
  margin-top: -5%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #SOC_ENTR_LOGOID img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
  }
  .socotptextbox {
    width: 29vw;
    height: 5.5vh;
    margin-left: -9%;
    margin-top: 14%;
    position: absolute;
}
.btnverifyOTP {
  background-color: #0A8996;
  color: #fff;
  border-radius: 12px;
  width: 13vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 22%;
  padding-bottom: 0%;
  font-family: 'Rubik';
  font-style: normal;
  margin-left: 9%;
  border: none;
}
.btnverifyOTP:hover {
  background-color: #14335D;
}
  .SOC_ENTRCODE_CONTAINER {
    overflow-y: hidden;
  }

  #SOC_ENTR_LOGIN_Img img {
    height: 100vh;
    width: 60vw;
  }
  .SOC_ENTRCODE {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
}

.soccodelabel {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}
  .SOC_ENTROTP {
    position: absolute;
    margin-left: -59%;
    margin-top: 4%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
  .btsign {
    background-color: #0b2447;
    color: #fff;
    width: 22vw;
    height: 3rem;
    font-size: 1.5;
    font-weight: 400;
    padding: 0.5rem;
    margin-bottom: -0.5rem;
  }

  .emailtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
  }
}

/*   
.password {
        position: relative;
        margin-right: -4.2rem;
        font-family: 'Rubik', sans-serif;
        font-size: 1.3vw;
        margin-bottom: 0rem;
} */

/* .passwordtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
} */
/* .forgotpassword {
 
  margin-left: -2rem;
}
.forgotpassword a {
  font-size: 1.1vw;
}
}  */


/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

  #SOC_ENTR_LOGIN_Img {
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #SOC_ENTR_LOGOID img {
    margin-top: 10%;
    margin-left: 36%;
  }



  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}