html{
    height: 100vh;
  }
  
  .logincontainer2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 2fr;
    grid-template-rows: 2.4fr 2fr;
    grid-template-areas: "logoid2 loginimgid2"
      "loginformid2 loginimgid2"
  }
 
  #logoid2{
    margin-top: -36rem;
    margin-left: 1rem;
    margin-bottom: -3rem;
    position: relative;
  }
  #logoid2 img{
    max-width:60% ;
    height: auto;
  } 
  
  #loginimgid2 {
   
    grid-area: loginimgid2;
  }
  
  #loginimgid2 img{
    height: 100vh;
    width: 63vw;
  }
  
  #loginformid2 {
   
    grid-area: loginformid2;
    position: relative;
    margin-left: -4rem;
    /* margin-top: -35rem; */
  }
  
  .req{
    color: red;
  }
  
  .btlogin2{
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 15vw;
    height: 4rem;
    font-size:1.3vw;
    font-weight: 500;
    
  }
  .btsign{
    background-color: #0b2447;
    color: #fff;
    width: 25vw;
    height: 6rem;
    font-size:1.5vw;
    font-weight: 500;
    padding: 1rem;
  }
  
  .input_fields2
  {
    position:relative;
    width: 25vw;
    height: 50%;
    left: 25.5%;
  }
  
  .newpswd{
    position: relative;
    margin-left: -64%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2vw;
  }

  .cnfpswd
  {
    position: relative;
    margin-left: -56%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2vw;
    
  }

  .emailtextbox{
    width: 25vw;
   
  }
  
  .passwordtextbox{
    width: 25vw;
  }
 
  @media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
    #loginformid2 {
      grid-area: loginformid2;
      position: relative;
      margin-left: -2rem;
      
  }
  #logoid2{
    margin-top: -22rem;
    margin-left: -3rem;
    margin-bottom: -2rem;
    position: relative;
  }
  #logoid2 img {
    max-width: 45%;
    height: auto;
    margin-top: 13%;
}
  
    .logincontainer2 {
      overflow-y: hidden;
    }
    #loginimgid2 img {
      width: auto;
      height: 100vh;
  }
  .btlogin2 {
    background-color: #0A8996;
    color: #fff;
    border-radius: 7px;
    width: 12vw;
    height: 3rem;
    font-size: 1.2vw;
    font-weight: 400;
    margin-left: -3rem;
    margin-bottom: -1rem;
}
  
.btsign {
    background-color: #0b2447;
    color: #fff;
    width: 22vw;
    height: 3rem;
    font-size: 1.5;
    font-weight: 400;
    padding: 0.5rem;
    margin-bottom: -0.5rem;
}

.newpswd {
    position: relative;
    margin-left: -62%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3vw;
    margin-bottom: 0rem;
}

.emailtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
    }
  
.cnfpswd {
        position: relative;
        margin-left: -53%;
        font-family: 'Rubik', sans-serif;
        font-size: 1.3vw;
        margin-bottom: 0rem;
}
  
  .passwordtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
}
.forgotpassword {
 
  margin-left: -2rem;
}
.forgotpassword a {
  font-size: 1.1vw;
}

} 
  
  
  /* Media query for mobile */
  @media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  
    #loginimgid2{
      display: none;
    }
  
    .signin {
      width: 270px;
      height: 76px;
      background-color: #14335D;
      margin-left: 28%;
      margin-top: 6%;
      font-size: 36px;
    }
  
    #logoid2 img {
      margin-top: 10%;
      margin-left: 36%;
  }
  
  .input_fields2 {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  }
  
  .email {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }
  
  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
  }