html {
  height: 100vh;
}

.gmcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "gmheadersection gmheadersection"
    "gmsection cardsection"
}

#gmheadersection {

  grid-area: gmheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#gmsection {
  grid-area: gmsection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gmbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.gmfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "gmdashboardlogo gmsociety gmdashboardspace gmdashboardnotification gmdashboardsetting gmlogoutbutton";
}

#gmdashboardlogo {
  grid-area: gmdashboardlogo;
}

#gmdashboardlogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#gmdashboardspace {
  grid-area: gmdashboardspace;
}

#gmdashboardspace label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dashboardspace {
  grid-area: dashboardspace;
}

#gmdashboardnotification {
  grid-area: gmdashboardnotification;
}

#gmdashboardnotification img {
  margin-top: 100%;
}

#gmdashboardsetting {
  grid-area: gmdashboardsetting;
}

#gmdashboardsetting img {
  margin-top: 100%;
}

#gmlogoutbutton {
  grid-area: gmlogoutbutton;
}

#gmlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

/* .btnlogout {
  background-color: #0A8996;
  color: #fff;
  margin-top: 18%;
  padding-top: 2%;
} */

.gmname {
  display: flex;
  width: 80%;
  height: 14%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.gmname img {
  margin-left: 6%;
  width: 30%;
  height: 70%;
  margin-top: 6%;
}

.gmname label {
  color: #000;
  margin-left: 8%;
  margin-top: 13%;
  font-size: 20px;
}

.gmsideimage img {
  display: flex;
  margin-top: 80%;
  width: 100%;
  height: auto;
}

.gmdisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 20px;
  padding-top: 14px;
  margin: auto;
  margin-top: -2%;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

#gmtable {
  margin-Left: 10%;
  margin-Top: 2%;
  max-Width: 80%;
  background-color: #F9FAFF;
 
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#gmtable thead {
  background-color: #14335D;
  color: #fff;
}

table th {
  text-align: center;
}

#gmtable td:hover{
  color: #0A8996;
}

.gmsearchbox{
  width: 20%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
  
}

#gmsociety {
  grid-area: gmsociety;
}

#gmsociety label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .gmname label {
    margin-left: 2%;
    margin-top: 16%;
    font-size: 15px;
  }

  .gmsideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .gmbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  #gmdashboardspace label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .gmdisplay {
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin: auto;
    margin-top: -16%;
  }

  .gmsearchbox {
    width: 28%;
    height: 5%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 60%;
}
.gmname {
  display: flex;
  width: 80%;
  height: 10%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

#gmsociety label {
  margin-top: 14%;
  margin-left: -88%;
  width: 104px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

.search_input {
  outline: none;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  margin-left: 10px;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .gmsideimage {
    display: none;
  }

  #gmsection {
    display: none;
  }

  #gmsociety {
    display: none;
  }

  .gmbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .gmdisplay {
    width: 280px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    /* margin: auto; */
    /* margin-top: -2%; */
    margin-left: 26%;
}

.gmsearchbox {
  width: 70%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
}

.search_input {
  outline: none;
  border: none;
  height: 18px;
  width: 145px;
  border-radius: 5px;
  margin-left: 9px;
}

#gmtable {
  margin-Left: 24%;
  margin-Top: 2%;
  max-Width: 100%;
  background-color: #F9FAFF;
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#gmdashboardlogo img {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 140%;
}
}