html {
  height: 100vh;
}

.changePwdContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas:
    "changePwdsection changePwdsection"
    "cpnamesection loginimgid5";
}

#changePwdsection {
  grid-area: changePwdsection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cpnamesection {

  grid-area: cpnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.CP_SideIMG img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}
#logoid5 {
  margin-top: -37rem;
  margin-left: 1rem;
  margin-bottom: -3rem;
  position: relative;
}

#logoid5 img {
  max-width: 60%;
  height: auto;
}

#loginimgid5 {
  /* background-color: blueviolet;    */
  grid-area: loginimgid5;
}

#loginimgid5 img {
  height: 100vh;
  width: 63vw;
}

#loginformid5 {
  grid-area: loginformid5;
  position: relative;
  margin-left: -4rem;
  /* margin-top: -35rem; */
}

.req {
  color: red;
}

/* .cpinput_fields{
  margin-left: 5%;
} */

.btlogin6 {
  background-color: #0a8996;
  color: #fff;
  border-radius: 14px;
  width: 15vw;
  height: 4rem;
  font-size: 1.3vw;
  font-weight: 500;
}

.btsign {
  background-color: #0b2447;
  color: #fff;
  width: 25vw;
  height: 6rem;
  font-size: 2vw;
  font-weight: 500;
  padding: 1rem;
}

.input_fields5 {
  position: relative;
  width: 25vw;
  height: 50%;
  left: 25.5%;
}

.currentpswd {
  position: relative;
  margin-left: -57%;
  font-family: "Rubik", sans-serif;
  font-size: 1.2vw;
}

.password2 {
  position: relative;
  margin-left: -64%;
  /* margin-right: 0rem; */
  font-family: "Rubik", sans-serif;
  font-size: 1.2vw;
  position: relative;
}

.password3 {
  position: relative;
  margin-left: -55%;
  /* margin-right: 0rem; */
  font-family: "Rubik", sans-serif;
  font-size: 1.2vw;
  position: relative;
}

.forgotpassword {
  margin-top: 1rem;
  margin-left: 1rem;
}

.emailtextbox {
  width: 25vw;
}

.passwordtextbox {
  width: 25vw;
}

.forgotpassword a {
  font-size: 1vw;
}

.CPASS {
  position: absolute;
margin-top: -3%;
margin-left: -45%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1vw;
}

.NPASS {
  position: absolute;
  margin-top: 5%;
  margin-left: -45%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1vw;
}
.CP_input{
  position: absolute;
  margin-top: 2.5%;
  width: 26vw;
  height: auto;
  margin-left: 1%;
  
background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.CHP_input{
  position: absolute;
  margin-top: 18%;
  width: 26vw;
  height: auto;
  margin-left: 1%;
  
background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.NP_input{
  position: absolute;
  margin-top: 10%;
  width: 26vw;
  height: auto;
  margin-left: 1%;
  
background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.CHPASS {
  position: absolute;
margin-top: 13%;
margin-left: -45%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1vw;
}

.CPass_dsplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 14px;
  margin: auto;
  margin-top: -3%;
}
.CPass_dsplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.4vw;
  text-align: center;  
  color: #14335D;
}

.CPForm {
  /* margin-left: 0%; */
  margin-top: 4%;
}

.CHPASS_BTN {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 8vw;
  height: 5vh;
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 13%;
  margin-left: -5.5%;
  position: absolute;
  font-family: 'Rubik';
font-style: normal;
border: none;
}

.CHPASS_BTN:hover{
  background-color: #14335D;
}
.CP_GName label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.CP_GName {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.CP_GName img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #loginformid5 {
    grid-area: loginformid5;
    position: relative;
    margin-left: -2rem;
    /* margin-top: -7rem; */
  }
  .CP_SideIMG img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }
  #logoid5 {
    margin-top: -24rem;
    margin-left: -3rem;
    margin-bottom: -2rem;
    position: relative;
  }
  .CPass_dsplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -3%;
    margin-left: 38%;
}
.CPass_dsplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
  #logoid5 img {
    max-width: 44%;
    height: auto;
  }

  .logincontainer5 {
    overflow-y: hidden;
  }

  #loginimgid5 img {
    width: auto;
    height: 100vh;
  }

  .CHPASS_BTN {
    background-color: #0A8996;
    color: #fff;
    border-radius: 11px;
    width: 8vw;
    height: 5.2vh;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 13%;
    margin-left: -5.5%;
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    border: none;
}
  .CHPASS_BTN:hover{
    background-color: #14335D;
  }
  .btlogin6 {
    background-color: #0a8996;
    color: #fff;
    border-radius: 14px;
    width: 12vw;
    height: 3rem;
    font-size: 1vw;
    font-weight: 400;
    margin-left: -3rem;
    margin-bottom: -1rem;
  }

  .btsign {
    background-color: #0b2447;
    color: #fff;
    width: 22vw;
    height: 3rem;
    font-size: 1.5;
    font-weight: 400;
    padding: 0.2rem;
    margin-bottom: -1.5rem;
  }

  .currentpswd {
    position: relative;
    margin-left: -50%;
    font-family: "Rubik", sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0rem;
  }

  .emailtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
  }

  .password2 {
    position: relative;
    margin-left: -58%;
    font-family: "Rubik", sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0rem;
  }

  .password3 {
    position: relative;
    margin-left: -49%;
    font-family: "Rubik", sans-serif;
    font-size: 1.4vw;
    margin-bottom: 0rem;
  }

  .passwordtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
  }

  .forgotpassword {
    margin-left: -2rem;
  }

  .forgotpassword a {
    font-size: 1.1vw;
  }

  .CPASS {
    position: absolute;
    margin-top: -3%;
    margin-left: -5%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2vw;
}
.NPASS {
  position: absolute;
  margin-top: 4%;
  margin-left: -5%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
}
.CHPASS {
  position: absolute;
  margin-top: 11%;
  margin-left: -5%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
}
  .CP_input {
    position: absolute;
    margin-top: 2.5%;
    width: 26vw;
    height: 6vh;
    margin-left: 41%;
    background: #FFFFFF;
    border: 2px solid #14335D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.NP_input {
  position: absolute;
    margin-top: 9%;
    width: 26vw;
    height: 6vh;
    margin-left: 41%;
    background: #FFFFFF;
    border: 2px solid #14335D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.CHP_input {
  position: absolute;
    margin-top: 16%;
    width: 26vw;
    height: 6vh;
    margin-left: 41%;
    background: #FFFFFF;
    border: 2px solid #14335D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
}

/* Media query for mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #loginimgid5 {
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335d;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #logoid5 img {
    margin-top: 10%;
    margin-left: 36%;
  }

  .input_fields5 {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  }

  .email {
    position: relative;
    right: 37%;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
  }

  .password {
    position: relative;
    right: 37%;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
  }

  .btnlogin {
    background-color: #0a8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}