html {
  height: 100vh;
}

.noticelist h4{
  color: #434242;
}
.noticelist a{
  color: #000
}
.search2 {
  width: 12vw;
  height: 5vh;
  padding: 1.5%;
  border-radius: 14px;
  border: 1px solid grey;
  margin-left: 60%;
  margin-top: 1.5%;
}
/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
 
  .Addguestdisplay6 label {
    display: inline-block;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 2vw;
}
.Addguestdisplay6 {
  width: 24vw;
  height: 10vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 2.5vw;
  padding-top: 8px;
  margin: auto;
  margin-top: -16%;
}
}