html {
  height: 100vh;
}
  #headersection1 {
    /* background-color: aquamarine; */
    /* margin-top: 10%; */
    grid-area: headersection1;
    background-color: #F9F9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #societynamesection {
    /* background-color: blueviolet; */
    grid-area: societynamesection;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #cardsection {
    /* background-color: blue; */
    grid-area: cardsection;
    position: relative;
  
  }
  
  .addguestbackgroundimg {
    /* background-image: url("../../../public/images/dashboardbackground.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 0.5%;
  }
  .MM_societyname label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #14335D;
    margin-left: 4%;
    margin-top: 12%;
    font-size: 1.2vw;
    padding-top: 0.5%;
  }
  .MM_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .MM_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 5%;
  }
  .firstheadersection1 {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
    grid-template-areas: "dashboardlogo dashboardguard1 dashboardspace dashboardnotification1 dashboardsetting1 dashboardlogoutbutton";
  }
 
 
  .search2 {
    width: 12vw;
    height: 5vh;
    padding: 1.5%;
    border-radius: 14px;
    border: 1px solid grey;
    margin-left: 60%;
    margin-top: 1.5%;
}

  
  .MM_sideimage img {
    display: flex;
    margin-top: 89%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;
    
  }
  .MM_notice {
    margin-right: 10%;
    margin-top: 10%;
    
  }
  .MT_link{
    margin-right: 19%;
   color: #000;
   font-size: 1.1vw;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
  
  }
 .MT_link:hover{
  color: #000;
  text-decoration: none;
 }
  .AMM_link {
   color: #757575;
   font-size: 1.1vw;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
  
  }
  .AMM_link:hover{
    color: #000000;
    text-decoration: none;
  }
  
.mtsearchbox{
  width: 14%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
  margin-bottom: 1%;
  
}
  .MM_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.3vw;
    margin: auto;
    margin-top: -3%;
    padding-top: 1%;
    margin-left: 37%;
  }
  
  .MM_display label{
   
        display: inline-block;
        font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #14335D;
        margin-bottom: -19%;
       
    
  }
  #managementtable {
    margin-Left: 10%;
    margin-Top: 0%;
    max-Width: 75%;
    background-color: #F9FAFF;
   height: auto;
    border-radius: 14px;
    border-collapse: separate;
    font-family: 'Rubik', sans-serif;
  }
  
  #managementtable thead {
    background-color: #14335D;
    color: #fff;
  }
  
  #managementtable td{
   padding: 0%;
  line-height: 2.5;
  }
  #managementtable td:hover{
    color: #0A8996;
  }
  
  table th {
    text-align: center;
  }
  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
    
  .MM_sideimage img {
    display: flex;
    margin-top: 64%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
}
    .addguestbackgroundimg {
    /* background-image: url("../../../public/images/dashboardbackground.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }
  
  .labelsize {
    font-size: 12px;
  }
  .MM_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding-top: 1%;
    margin: auto;
    margin-top: -3%;
  }
 
  .Addguestdisplay6 label {
    display: inline-block;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 2vw;
}
.Addguestdisplay6 {
  width: 24vw;
  height: 10vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 2.5vw;
  padding-top: 8px;
  margin: auto;
  margin-top: -16%;
}
}