html {
  height: 100vh;
}

.nlcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "nlheadersection nlheadersection"
    "nlsection cardsection"
}

#nlheadersection {

  grid-area: nlheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nlsection {
  grid-area: nlsection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
  grid-area: cardsection;
  position: relative;

}

.nlbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.nlfirstsection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "nllogo nlsociety nlspace nlnotification nlsetting nllogoutbutton";
}

#nllogo {
  grid-area: nllogo;
}

#nllogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#nlsociety {
  grid-area: nlsociety;
}

#nlsociety label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#nlspace {
  grid-area: nlspace;
}

#nlnotification {
  grid-area: nlnotification;
}

#nlnotification img {
  margin-top: 100%;
}

#nlsetting {
  grid-area: nlsetting;
}

#nlsetting img {
  margin-top: 100%;
}

#nllogoutbutton {
  grid-area: nllogoutbutton;
}

#nllogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

.NLSName label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.NLSName {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.NLSName img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

.NLSImg img {
  display: flex;
  margin-top: 69%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}


.NL_display {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 14px;
  margin: auto;
  margin-top: -3%;
  margin-left: 37%;
}
.NL_display label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.3vw;
  text-align: center;  
  color: #14335D;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

#nltable {
  margin-Left: 15%;
  margin-Top: 2%;
  max-Width: 70%;
  background-color: #F9FAFF;

  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#nltable thead {
  background-color: #14335D;
  color: #fff;
}

table th {
  text-align: center;
}

#nltable td:hover {
  color: #0A8996;
}

.nlsearchlabel
{
  outline: none;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  margin-left: 10px;
}

.nlsearchbox{
  width: 14%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: -3%;
  
}
.btnAddnotice {
  background-color: #E8F5E9;
  color: #0D960A;
  border-radius: 14px;
  width: 11vw;
  height: 4.5vh;
  font-size: 1vw;
  font-weight: 500;
  margin-top: 3%;
  padding: 0%;
  margin-left: 24%;
  border: none;
 
}
.btnAddnotice img{
 width: 1vw;
}
/* .Vsearchbox{
  width: 15%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 12%;
  margin-top: 2%;
} */
.btnAddnotice:hover {
  background-color: #14335D;
}

.search_input {
  outline: none;
  border: none;
  height: 40px;
  width: 210px;
  border-radius: 5px;
  margin-left: 10px;
}

.nlsearchbox img {
  margin-top: 0%;
  margin-left: -8%;
}

.nlsidelinks {
  margin-right: 46%;
  margin-top: 10%;
  
}

.noticeSL{
  color:#000;
  font-size: 1.1vw;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  
}
.AnoticeSL{
  color:#757575;
  font-weight: 500;
  font-family: 'Rubik';
  font-style: normal;
  font-size: 1.1vw;
 
}

.noticeSL:hover {
  color: #000;
  text-decoration: none; 
}
.AnoticeSL:hover {
  color: #000;
  text-decoration: none; 
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


  .NLSImg img {
    display: flex;
    margin-top: 53%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }

  .nlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }
  .nlsearchbox img {
    margin-top: 0%;
    margin-left: -26%;
}
  .labelsize {
    font-size: 12px;
  }

  #nlsociety label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }
  .NL_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.NL_display label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
  .nlsearchbox {
    width: 28%;
    height: 8%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: -7%;
    margin-left: 60%;
  }



  .nlsearchlabel {
    margin-top: 2%;
    font-family: 'Rubik', sans-serif;
    margin: 10px;
    font-size: 14px;
  }

  .nlsidelinks {
    margin-right: 38%;
    margin-top: 10%;
  }

  .btnAddnotice {
    background-color: #E8F5E9;
    color: #0D960A;
    border-radius: 14px;
    width: 215px;
    height: 58px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 3%;
    padding-bottom: 1%;
    margin-left: -50%;
  }
  .btnAddnotice:hover {
    background-color:#14335D;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  #nllogo img {
    margin-top: 26%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;

  }

  .NL_display {
    width: 135px;
    height: 54px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 11px;
    margin-left: 48%;
    margin-top: 4%;
  }

  .nlsearchbox {
    width: 76%;
    height: 5%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-left: 35%;
    margin-top: 2%;
  }

  #nltable {
    margin-Left: 24%;
    margin-Top: 2%;
    /* max-width: 96%; */
    background-color: #F9FAFF;
    border-radius: 14px;
    border-collapse: separate;
    font-family: 'Rubik', sans-serif;
  }
}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .NLSImg {
    display: none;
  }

  #nlsection {
    display: none;
  }

  #nlsociety {
    display: none;
  }

  #nllogo img {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;
  }

  .nlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .NL_display {
    width: 140px;
    height: 56px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 11px;
    margin-left: 70%;
  }

  .btnAddnotice {
    background-color: #E8F5E9;
    color: #0D960A;
    border-radius: 14px;
    width: 206px;
    height: 50px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 3%;
    /* padding-bottom: 1%; */
    margin-left: 6%;
  }

  .nlsearchbox {
    width: 76%;
    height: 5%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-left: 116%;
    margin-top: -20%;
    margin-bottom: 8%;
  }
}