html {
  height: 100vh;
}

.nlcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "nlheadersection nlheadersection"
    "nlsection cardsection"
}

#nlheadersection {

  grid-area: nlheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nlsection {
  grid-area: nlsection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
  grid-area: cardsection;
  position: relative;

}

.nlbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.nlfirstsection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "nllogo nlsociety nlspace nlnotification nlsetting nllogoutbutton";
}

#nllogo {
  grid-area: nllogo;
}

#nllogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#nlsociety {
  grid-area: nlsociety;
}

#nlsociety label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#nlspace {
  grid-area: nlspace;
}

#nlnotification {
  grid-area: nlnotification;
}

#nlnotification img {
  margin-top: 100%;
}

#nlsetting {
  grid-area: nlsetting;
}

#nlsetting img {
  margin-top: 100%;
}

#nllogoutbutton {
  grid-area: nllogoutbutton;
}

#nllogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

/* .btnlogout {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 142px;
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18%;
  padding-top: 2%;
} */

.nlsocietyname {
  display: flex;
  width: 80%;
  height: 14%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.nlsocietyname img {
  margin-left: 6%;
  width: 30%;
  height: 70%;
  margin-top: 6%;
}

.nlsocietyname label {
  color: #000;
  margin-left: 8%;
  margin-top: 13%;
  font-size: 20px;
}

.nlsideimage img {
  display: flex;
  margin-top: 80%;
  width: 100%;
  height: auto;
}

.nldisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 20px;
  padding-top: 14px;
  margin: auto;
  margin-top: -2%;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

#nltable {
  margin-Left: 10%;
  margin-Top: 2%;
  max-Width: 80%;
  background-color: #F9FAFF;
 
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#nltable thead {
  background-color: #14335D;
  color: #fff;
}

table th {
  text-align: center;
}

#nltable td:hover{
  color: #0A8996;
}

.nlsearchbox{
  width: 15%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 75%;
  margin-top: -4%;
  
}

.btnAddnotice{
  background-color: #E8F5E9;
  color: #0D960A;
  border-radius: 14px;
  width: 250px;
  height: 60px; 
  font-size: 151%;
  font-weight: 500;
  margin-top: 3%;
  padding-bottom: 1%;
  margin-left: 30%;
}

.btnAddnotice:hover{
  background-color: #000;
}

.search_input
{
  outline: none;
  border: none;
  height: 40px;
  width: 210px;
  border-radius: 5px;
  margin-left: 10px;
}

.nlsearchbox img{
  margin-top: 4%;
  margin-left: -42%;
}

.nlsidelinks{
margin-right: 60%;
margin-top: 10%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .nlsocietyname label {
    margin-left: 2%;
    margin-top: 16%;
    font-size: 15px;
  }

  .nlsideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .nlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  #nlsociety label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .nldisplay {
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin: auto;
    margin-top: -16%;
  }

  .nlsearchbox {
    width: 28%;
    height: 8%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: -7%;
    margin-left: 60%;
}

.nlsocietyname {
  display: flex;
  width: 80%;
  height: 10%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.nlsearchlabel{
  margin-top: 2%;
  font-family: 'Rubik', sans-serif;
  margin: 10px;
  font-size: 14px;
}

.nlsidelinks {
  margin-right: 38%;
  margin-top: 10%;
}

.btnAddnotice {
  background-color: #E8F5E9;
  color: #0D960A;
  border-radius: 14px;
  width: 215px;
  height: 58px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 3%;
  padding-bottom: 1%;
  margin-left: -50%;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  #nllogo img {
    margin-top: 26%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;

}
.nldisplay {
  width: 140px;
  height: 56px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 20px;
  padding-top: 11px;
  margin-left: 48%;
  margin-top: 4%;
}

.nlsearchbox {
  width: 76%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 35%;
  margin-top: 2%;
}

#nltable {
  margin-Left: 24%;
  margin-Top: 2%;
  /* max-width: 96%; */
  background-color: #F9FAFF;
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}
}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .nlsideimage {
    display: none;
  }

  #nlsection {
    display: none;
  }

  #nlsociety {
    display: none;
  }

  #nllogo img {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;
  }

  .nlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .nldisplay {
    width: 140px;
    height: 56px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 11px;
    margin-left: 70%;
}

.btnAddnotice {
  background-color: #E8F5E9;
  color: #0D960A;
  border-radius: 14px;
  width: 206px;
  height: 50px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 3%;
  /* padding-bottom: 1%; */
  margin-left: 6%;
}

.nlsearchbox {
  width: 76%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 116%;
  margin-top: -20%;
  margin-bottom: 8%;
}
}