html {
    height: 100vh;
  }
 
.circle{
    font-size: 1.5vw;
}
  .Ownername{
    font-size: 2vw;
  }
  .packagelabel{
    background:  #304B71;
    max-width: 45%;
    border: none;
    border-radius:21px;
    margin-left: 28%;
    height: 5vh;
    padding: 1%;
    color: #FFFFFF;
    ;
  }
  .packagedetailscard{
    border: 5px solid #14335D;
    width: 40vw;
    height: 65vh;
    margin-left: 24%;
    margin-top: 3%;
    border-radius: 25px;
    background: rgba(249, 250, 255, 0.55);
}
  .packagelabel label{
    font-size: 1.5vw;
    font-weight: 600;
  }
  .Flatnocontainerbox{
    border: hidden;
    width: 20vw;
    height: 10vh;
    border-radius: 21px;
    background:  #AED8DC;;
    margin-left: 15%;   
    padding: 3%;
} 

.buttonContainer{
  margin-top: 4%;
}
.ownerflatno{
  float: center;
  max-width: 60%;
  font-size: 1vw;
}
.ownerblockno{
  float: center;
  max-width: 60%;
  font-size: 1vw;
  font-weight: 900;
}
.otherdet{
  font-size: 2vw;
  color: #14335D;
}
.familymemno{
    float: left;
    max-width: 90%;
    font-size: 1vw;
}
.noofvehicle{
  float: left;
    max-width: 60%;
    font-size: 1vw;
}
.validbtn{
  margin-right: 15%;
  width: 15vw;
  height: 5vh;
  border-radius: 23px;
  background: #E8F5E9;
  color:#0D960A;
  font-size: 1vw;
  font-weight: 500;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  margin-left: 16%;
}

.aboutpackage{
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
}
.aboutpackage p{
   font-size: 1vw;
  
}
  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
   
  
  }