html {
    height: 100vh;
  }
  
  .Headercontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.2fr 2fr;
    grid-template-areas: "headersection3 headersection3"
      "societynamesection cardsection"
  }
  
  #headersection3 {
    /* background-color: aquamarine; */
    /* margin-top: 10%; */
    grid-area: headersection3;
    background-color: #F9F9FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #societynamesection {
    /* background-color: blueviolet; */
    grid-area: societynamesection;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .firstheadersection3 {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
    grid-template-areas: "dashboardlogo3 dashboardguard3 dashboardspace dashboardnotification3 dashboardsetting3 dashboardlogoutbutton";
  }
  
  #dashboardlogo3 {
    grid-area: dashboardlogo3;
  }
  
  #dashboardlogo3 img {
    margin-top: 9%;
    margin-left: -37%;
    margin-bottom: 5%;
    width: 5vw;
}
  
  #dashboardguard3 {
    grid-area: dashboardguard3;
  }
  
  #dashboardguard3 label {
    margin-top: 18%;
    margin-left: -128%;
    width: 9vw;
    height: 6vh;
    background-color: black;
    color: #fff;
    border-radius: 11px;
    padding: 5%;
    font-size: 1.3vw;
}

  #dashboardspace {
    grid-area: dashboardspace;
  }
  
  #dashboardnotification3 {
    grid-area: dashboardnotification3;
  }
  
  #dashboardnotification3 img {
    margin-top: 110%;
    width: 2.5vw;
    height: auto;
   margin-right: 100%;
}
  
  #dashboardsetting3 {
    grid-area: dashboardsetting3;
  }
  
  #dashboardsetting3 img {
    margin-top: 110%;
    width: 2.4vw;
    height: auto;
   margin-right: 90%;
  }
  
  #dashboardlogoutbutton {
    grid-area: dashboardlogoutbutton;
  }
  
  #dashboardlogoutbutton img {
    padding-left: 10%;
    padding-bottom: 5%;
  }
  /*  */
 
 
.societyname {
    display: flex;
    width: 14vw;
    height: 8vh;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 16%;
    margin-top: 12%;
    border-radius: 20px;
}
  
  .societyname img {
    margin-left: -15%;
    width: 10vw;
    height: 6vh;
    margin-top: 4%;
  }

.guardcontainerbox{
    border: hidden;
    width: 20vw;
    height: 20vh;
    border-radius: 21px;
    background:  #AED8DC;;
    margin-left: 15%;   
    padding: 5%;
} 


.buttonContainer{
    margin-top: 4%;
}

  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
    #dashboardlogo3 img {
        margin-top: 9%;
        margin-left: -38%;
        margin-bottom: 3%;
        width: 5vw;
    }
    .input-lg {
        height: 5vh;
        padding: 3px 18px;
        font-size: 1.3vw;
        line-height: 1;
        border-radius: 6px;
    }
    .societyname label {
        color: #000;
        margin-left: -19%;
        margin-top: 12.5%;
        font-size: 1.5;
        padding-top: 0.5%;
        font-size: 1.2vw;
    }
    
  
  
  .labelsize {
    font-size:1.5vw;
  }
 
  
  #dashboardguard3 label {
    margin-top: 17%;
    margin-left: -125%;
    width: 10vw;
    height: 6vh;
    background-color: black;
    color: #fff;
    border-radius: 12px;
    padding-top: 2.5%;
    padding-bottom: -124%;
    font-size: 1.8vw;
}

#dashboardnotification3 img {
    margin-top: 106%;
    width: 2.5vw;
    height: auto;
    margin-right: 100%;
}
.societyname {
    display: flex;
    width: 14.5vw;
    height: 9vh;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 15%;
    margin-top: 13%;
    border-radius: 20px;
}
.societyname img {
    margin-left: -14%;
    width: 10vw;
    height: 6vh;
    margin-top: 6%;
}
#dashboardsetting3 img {
    margin-top: 106%;
    width: 2.3vw;
    height: auto;
    margin-right: 90%;
}
#dashboardlogoutbutton img {
    padding-left: 7%;
    padding-bottom: 3%;
    width: 2vw;
    height: auto;
}



  }
  .pagination_ul
  {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    gap: 15px;
  }
  
  .pagination_ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0A899654;
    color: black;
    width: 30px;
    height: 30px;
    font-weight: 999;
    border-radius: 5px;
  }
  
  .pagination_ul .selected
  {
    background: #0A8996;
    color: white;
  }