html {
  height: 100vh;
}
.P_societyname label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
  color: #14335D;
}
.P_societyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.P_societyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.ButtonsContainer{
  max-width: 100%;
  margin-top: 4.5%;
  justify-content: center;
}

.all_payment_buttons
{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.all_payment_buttons div:nth-child(1){
  animation: dropDivs .2s ease-in-out;
}
.all_payment_buttons div:nth-child(2){
  animation: dropDivs .4s ease-in-out;
}
.all_payment_buttons div:nth-child(3){
  animation: dropDivs .7s ease-in-out;
}
.all_payment_buttons div:nth-child(4){
  animation: dropDivs 1s ease-in-out;
}
.all_payment_buttons div:nth-child(5){
  animation: dropDivs 1.2s ease-in-out;
}
.all_payment_buttons div:nth-child(6){
  animation: dropDivs 1.4s ease-in-out;
}

@keyframes dropDivs {
  0%{
    transform: translateY(-155px);
  }
  100%
  {
    transform: translateY(0px);
  }
}


.Paymentsideimg img {
  display: flex;
  margin-top: 93%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;
}
.societydues_btn{
  width: 18vw;
  height: 7vh;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0%;
  border-radius: 28px;
  background: #0A8996;
  border: none;
  color: #FFFFFF;
  transition: .2s ease all;
  font-family: 'Inter';
font-style: normal;
}


.societydues_btn:hover{
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #0A8996 )
}
.Pdisplay {
  width: 17vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
}
.Pdisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.3vw;
  text-align: center;  
  color: #14335D;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
 
  .Paymentsideimg img {
    display: flex;
    margin-top: 85%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
}

  .Pdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
   
    padding: 1%;
    margin: auto;
    margin-top: -3%;
    margin-left: 39.5%;
}
.Pdisplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
}
