html {
  height: 100vh;
}

.noticelist h4{
  color: #434242;
}
.noticelist a{
 color: #757575;
}
.ButtonsContainer{
  max-width: 100%;
  margin-top: 4.5%;
  justify-content: center;
}
.societydues_btn{
  width: 40vw;
  height: 8vh;
  font-size: 1.5vw;
  font-weight: 700;
  padding: 0%;
  border-radius: 28px;
  background: #0A8996;
  border: none;
  color: #FFFFFF;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
 

}
