html {
  height: 100vh;
}

.sidebar_classes
{
  display: flex;
  flex-direction: column;
 
}

.sidebar_classes h5 {
  font-size: 16px;
  color:#757575
}

.selected{
  font-weight: 900;
  transform: scale(1.01);
  transition: .1s ease-in all;
  font-style: italic;
}


.addguestcontainer4 {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "addflatsection addflatsection"
  "societynamesection cardsection"
}
.Plum_societyname label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.Plum_societyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.Plum_societyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.P_display {
  width: 17vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 1.3vw;
  margin: auto;
  margin-top: -3%;
  padding-top: 1%;
}

.P_display label{
 
      display: inline-block;
      font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #14335D;
      margin-bottom: -19%;
     
  
}

.lnoticelist{
  text-align: left;
    margin-left: 13%;
    margin-top: 5%;
    
}
.P_sideimage img {
  display: flex;
  margin-top: 46%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 5%;  
}
.P_search{
  width: 12vw;
  height: 5vh;
  padding: 1.5%;
  border-radius: 15px;
  border: 1px solid grey;
  margin-left: 60%;
  margin-top: -1%;
}
#inoutbooktable1 {
  margin-Left: 22%;
  margin-Top: 1.5%;
  width: 40vw;
  height: 10vh;
  /* max-Width: 80%; */
  background-color: #F9FAFF;
  /* -webkit-border-radius: 14px; */
  /* border-radius: 18px; */
  border-radius: 33px 33px 0px 0px;
  border-collapse: collapse;
  font-family: 'Rubik', sans-serif;
  border: 2px solid #14335D;
  
}
.LOcalSLINK {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 1.1vw;
line-height: 24px;
text-decoration: none;
margin-right: 36%;
color: #757575;
}
.LOcalSLINK:hover{
  color: #000;
  text-decoration: none;
}
table thead {
background: #14335D;
border-radius: 33px 33px 0px 0px;
color: #F9F9FF;

}
.Pnoticelist{
  margin-left: -24%;
  font-family: 'Rubik';
  font-style: normal;
}

.fontstyle{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-right: 49%;
  font-size: 1.1vw;
  color: #000; 
}
.fontstyle:hover{
  color: #000;
}

#plumbertable{
  margin-Left: 10%;
  margin-Top: 2%;
  max-Width: 80%;
  background-color: #F9FAFF;
 
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
  background: rgba(249, 250, 255, 0.76);
border: 2px solid #14335D;

}
/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  #inoutbooktable1 {
    margin-Left: 24%;
    margin-Top: 0.5%;
    width: 40vw;
    /* max-Width: 80%; */
    background-color: #F9FAFF;
    /* -webkit-border-radius: 14px; */
    /* border-radius: 18px; */
    border-radius: 33px 33px 0px 0px;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
    border: 2px solid #14335D;
    /* max-height: min-content; */
    
}
/* table thead {
  background: #14335D;
  border-radius: 33px 33px 0px 0px;
  color: #F9F9FF;
 
} */
.P_display {
  width: 18vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 1.8vw;
  padding-top: 1%;
  margin: auto;
  margin-top: -3%;
}
.PNotice {
  color: #5C5C5C;
 margin-left: -17%;
font-weight: 400;
font-size: 1.1vw;
}
.ENotice {
  color: #5C5C5C;
 margin-left: -14%;
font-weight: 400;
font-size: 1.1vw;
}
.PNotice:hover{
  color: #000;
}
.ENotice:hover{
  color: #000;
}
 
  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
    #plumbertable {
      margin-Left: 24%;
      margin-Top: 0.5%;
      width: 40vw;
      /* max-Width: 80%; */
      background-color: #F9FAFF;
      /* -webkit-border-radius: 14px; */
      /* border-radius: 18px; */
      /* border-radius: 33px 33px 0px 0px; */
      border-collapse: collapse;
      font-family: 'Rubik', sans-serif;
      border: 2px solid #14335D;
      /* max-height: min-content; */
      border-radius: 30px;
      
  }
  table thead {
    background: #14335D;
    border-radius: 33px 33px 0px 0px;
    color: #F9F9FF;
   
  }
 
    .P_sideimage img {
      display: flex;
      margin-top: 14%;
      max-width: 95%;
      height: auto;
      margin-left: 2%;
  }
    .addguestbackgroundimg {
    /* background-image: url("../../../public/images/dashboardbackground.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }
  
  .labelsize {
    font-size: 12px;
  }
  }
}