html {
  height: 100vh;
}
   .Addguestdisplay5{
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin: auto;
    margin-top: -2%;
  }
  
  .labelsize{
    font-size: 1vw;
  }
  
  .btnAddprofile {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 15vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 5%;
    margin-right: 25%;
    padding-top: 0%;
}


#guardnamesection5 {
  grid-area: guardnamesection5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
  /* background-color: blue; */
  grid-area: cardsection;
  position: relative;

}

.addguestbackgroundimg {
  /* background-image: url("../../../public/images/dashboardbackground.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}


.guardname5 {
  display: flex;
  width: 14vw;
  height: 8vh;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 16%;
  margin-top: 12%;
  border-radius: 20px;
}

.guardname5 img {
  margin-left: -15%;
  width: 10vw;
  height: 6vh;
  margin-top: 4%;
}
.guardname5 label {
  color: #000;
  margin-left: -14%;
  margin-top: 13%;
  font-size: 1vw;
  padding-top: 0.5%;
}
.Addguestdisplay5 {
width: 27vw;
height: 9vh;
background-color: #AED8DC;
border-radius: 30px;
font-size: 2vw;
margin: auto;
margin-top: -4%;
padding-bottom: 1.5%;
}
.Addguestdisplay5 label{

    display: inline-block;
    padding: 3%;
    margin-bottom: 2%;
    font-weight: 700;

}
.labelsize1{
  font-size: 1vw;
  max-width: 20%;
}

.BtnAddd {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 15vw;
  height: 6vh;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 25%;
  padding-top: 0%;
}
.input-lg1 {
  height: 5vh;
  padding: 5px 18px;
  font-size: 1.3vw;
  line-height: 1.333333;
  border-radius: 6px;
}
.form1 {
  margin-top: 5%;
  margin-left: 20%;
}
.row1 {
margin-right: -50%;
margin-left: -7%;
}

/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
  .labelsize1 {
    font-size:1.5vw;
    max-width: 20%;
  }
  .row1 {
      margin-right: -50%;
      margin-left: -7%;
  }
  .form-group1 {
      margin-bottom: 2%;
  }

.Addguestdisplay5 label{

display: inline-block;
padding: 0.5%;
margin-bottom: 2%;
font-weight: 700;
font-size: 2vw;

}
.BtnAddd {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 15vw;
  height: 6vh;
  font-size: 2.2vw;
  font-weight: 400;
  margin-top: 3%;
  margin-right: 19%;
  padding-top: 0%;
}


.input-lg1 {
height: 5vh;
padding: 3px 18px;
font-size: 1.3vw;
line-height: 1;
border-radius: 6px;
}


.guardname5 {
display: flex;
width: 14.5vw;
height: 9vh;
background-color: rgba(10, 137, 150, 0.33);
margin-left: 15%;
margin-top: 13%;
border-radius: 20px;
}
.guardname5 img {
margin-left: -14%;
width: 10vw;
height: 6vh;
margin-top: 6%;
}
.addguestbackgroundimg {
  /* background-image: url("../../../public/images/dashboardbackground.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 12.5%;
}

.Addguestdisplay5 {
  width: 24vw;
  height: 10vh;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 2.5vw;
  padding-top: 8px;
  margin: auto;
  margin-top: -16%;
}
}