html {
  height: 100vh;
}

.SOC_RESET_CONTAINER {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "SOC_Reset_LogoId RESET_LOGIN_IMG"
    "Soc_LOgin_Form_ID RESET_LOGIN_IMG"
}

#SOC_Reset_LogoId {
  grid-area: SOC_Reset_LogoId;
}

#SOC_Reset_LogoId img {
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}

#RESET_LOGIN_IMG {
  /* background-color: blueviolet;    */
  grid-area: RESET_LOGIN_IMG;
}

#RESET_LOGIN_IMG img {
  height: 100vh;
  width: 65vw;
}

#Soc_LOgin_Form_ID {

  grid-area: Soc_LOgin_Form_ID;
  position: relative;
  margin-left: -4rem;
  /* margin-top: -35rem; */
}

.req {
  color: red;
}


.btnsocsendotp {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 6%;
  padding-bottom: 3%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -3%;
}

.btnsocsendotp:hover {
  background-color: #14335D;
}


.fpsoc {
  background-color: #0b2447;
  color: #fff;
  width: 25vw;
  height: 6rem;
  font-size: 1.5vw;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: -2%;
  margin-top: 10%;
}

.SOC_Input_Fields {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.SOC_EnterMobileNo {
  position: absolute;
 margin-top: -10%;
 margin-left: -60%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
  font-style: normal;
font-weight: 500;
}

.SOC_Fgt {
  width: 23vw;
  height: 6vh;
  background-color: #14335D;
  margin-left: 17%; 
  margin-top: 8%;

  padding: 0%;
  
}

.SOC_fgt_Label{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}

.socfogtpwd {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}


.socfptextbox {
  width: 23vw;
  height: 4.5vh;
  margin-left: -10%;
  margin-top: -5%;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


  .socfptextbox {
    width: 29vw;
    height: 5.5vh;
    margin-left: -5%;
    margin-top: 10%;
    position: absolute;
}
.btnsocsendotp {
  background-color: #0A8996;
  color: #fff;
  border-radius: 13px;
  width: 13vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 16%;
  padding-bottom: 0%;
  font-family: 'Rubik';
  font-style: normal;
  margin-left: -46%;
}
.btnsocsendotp:hover {
  background-color: #14335D;
}

  #SOC_Reset_LogoId img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
  }

  .SOC_RESET_CONTAINER {
    overflow-y: hidden;
  }

  #RESET_LOGIN_IMG img {
    height: 100vh;
    width: 60vw;
  }

  .btlogin4 {
    background-color: #0A8996;
    color: #fff;
    border-radius: 7px;
    width: 12vw;
    height: 3rem;
    font-size: 1.2vw;
    font-weight: 400;
    margin-left: -3rem;
    margin-bottom: -1rem;
  }
  .SOC_Input_Fields{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  }
  .fpsoc {
    background-color: #0b2447;
    color: #fff;
    width: 22vw;
    height: 3rem;
    font-size: 1.5;
    font-weight: 400;
    padding: 0.5rem;
    margin-bottom: -6%;
    margin-top: 4%;
  }
  .SOC_Fgt {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
}

.SOC_fgt_Label {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}

  .SOC_EnterMobileNo {
    position: absolute;
    margin-left: -55%;
    margin-top: 4%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
  }

 
}

/*   
.password {
        position: relative;
        margin-right: -4.2rem;
        font-family: 'Rubik', sans-serif;
        font-size: 1.3vw;
        margin-bottom: 0rem;
} */

/* .passwordtextbox {
    width: 22vw;
    height: 5.5vh;
    margin-bottom: -1.5rem;
} */
/* .forgotpassword {
 
  margin-left: -2rem;
}
.forgotpassword a {
  font-size: 1.1vw;
}
}  */


/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

  #RESET_LOGIN_IMG {
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #SOC_Reset_LogoId img {
    margin-top: 10%;
    margin-left: 36%;
  }

  .SOC_Input_Fields {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  }

  .email {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .btnlogin {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}