.SDT_societyname label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #14335D;
    margin-left: 4%;
    margin-top: 13%;
    font-size: 1.2vw;
    padding-top: 0.5%;
  }
  .SDT_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .SDT_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 4%;
  }
  .SDT_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.5vw;
    margin: auto;
    margin-top: -3%;
    padding-top: 1%;
  }
  
  .SDT_display label{
   
        display: inline-block;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        color: #14335D;
        margin-bottom: -19%;
      
    
  }

  .SDT_sideimage img {
    display: flex;
    margin-top: 95%;
    max-width: 90%;
    height: auto;
    margin-left: 13%;
    margin-bottom: 5%;  
  }
  .SDAddBTN {
  
    font-family: 'Rubik';
    font-style: normal;
    
      border-radius: 18px;
      background: #E8F5E9;
      border: none;
      width: 12vw;
      height: 5vh;
      margin-left: 54%;
      margin-top: 1.5%;
      margin-bottom: 1%;
      font-weight: 500;
      font-size: 1vw;
      color: #0D960A;
    }
    .SDAddBTN:hover{
        background-color: #14335D;
        color: #E8F5E9;
      }
/* Media query for laptop */
@media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {

  .SDT_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.5vw;
    padding-top: 1%;
    margin: auto;
    margin-top: -3%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    color: #14335D;
  }
  .SDT_sideimage img {
    display: flex;
    margin-top: 83%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
}
.SDAddBTN {
  
    font-family: 'Rubik';
    font-style: normal;
    
      border-radius: 18px;
      background: #E8F5E9;
      border: none;
      width: 12vw;
      height: 5vh;
      margin-left: 53%;
      margin-top: 1.5%;
      margin-bottom: 1%;
      font-weight: 500;
      font-size: 1vw;
      color: #0D960A;
    }
.SDAddBTN:hover{
    background-color: #14335D;
    color: #E8F5E9;
  }
}