html {
    height: 100vh;
  }
  

  .Typedetails {
    margin-right: 5%;
    margin-left: -10%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
}
.SD_societyname label {
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
    margin-left: 4%;
    margin-top: 12%;
    font-size: 1.2vw;
    padding-top: 0.5%;
  }
  .SD_societyname {
    display: flex;
    width: 80%;
    height: 12%;
    background-color: rgba(10, 137, 150, 0.33);
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 24px;
  }
  .SD_societyname img {
    margin-left: 10%;
    width: 25%;
    height: 70%;
    margin-top: 5%;
  }

.SocietyFlatNo{
    margin-right: 5.2%;
    margin-left: -12%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
    
}
.Society_Block{
    margin-right: 5%;
    margin-left: -10.5%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
}
.Society_Residentnames{
    margin-right: 5.2%;
    margin-left: -17%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
}
.Society_Amount{
    margin-right: 5.2%;
    margin-left: -12.5%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
}
.ButtonsContainer2{
    max-width: 100%;
    margin-top: 9%;
    justify-content: center;
}
.SAddButn{
    width: 8vw;
    height: 4.5vh;
    font-size: 1.3vw;
    font-weight: 700;
    padding: 0%;
    border-radius: 9px;
    background: #0A8996;
    border: none;
    color: #FFFFFF;
    margin-top: -3%;

}
.SocietyDSideIMG img {
    display: flex;
    margin-top: 93%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;  
  }
.SD_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
    margin-top: -3%;
}
.SD_display label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;  
    font-size: 1.3vw;
    text-align: center;  
    color: #14335D;
}

.SAddButn:hover{
    background: #14335D;
}
.paymentdate{
    margin-right: 5%;
    margin-left: -10%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    
}
.Paymentdateinput{
    width: 6vw;
    height: 4vh;
    padding: 1%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #14335D;
    border-radius: 8px;
    margin-top: 0%;
    margin-right: 2.5%;
}
.Duedate{
    margin-right: 2%;
    font-size: 1.1vw;
    color: #14335D;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
}
.Duedateinput{
    width: 6vw;
    height: 4vh;
    padding: 1%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #14335D;
    border-radius: 8px;
    margin-top: 0%;
    margin-right: 6%;
}
.VendorInp {
    width: 20vw;
    height: 4.5vh;
    padding: 0%;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border: 2px solid #14335D;
    border-radius: 8px;
    margin-top: 0%;
}
  /* Media query for laptop */
  @media only screen   and (min-device-width : 768px) and (max-device-width : 1024px) {
    .SAddButn:hover{
        background: #14335D;
    }
    .Typedetails {
        margin-right: 5%;
        margin-left: -10%;
        font-size: 1.2vw;
        color: #14335D;
    }
    .VendorInp {
        width: 24vw;
        height: 5vh;
        padding: 0%;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        border: 2px solid #14335D;
        border-radius: 8px;
        margin-top: 0%;
    }
    .SD_display {
        width: 17vw;
        height: 7vh;
        background-color: #AED8DC;
        border-radius: 30px;
        font-size: 20px;
        padding: 0.5%;
        margin: auto;
        margin-top: -3%;
        margin-left: 38%;
    }
    .SD_display label {
      
        font-size: 1.5vw;
        text-align: center;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        color: #14335D;
 }
  }