html {
  height: 100vh;
}

.dashboardcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "headersection headersection"
    "guardnamesection cardsection"
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Dasboard_sideLink{
  margin-right: 46%;
  margin-top: 10%;
}
.SL_LabelName{
  
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 1.1vw;
color: #000000;
}
.SL_LabelName:hover{
  color: #000000;
  text-decoration: none;
}
.sddashboardcard img {
  width: 17vw;
  padding-right: 8%;
  margin-bottom: 5%;
}
/* 
.dashboard_passcode {
  position: relative;
  top: 30px;
  border: none;
  outline: none;
  background-color: #CFDBEB;
  text-align: center;
  width: 40px;
  border-bottom: 5px solid #000000;

} */

#headersection {
  /* background-color: aquamarine; */
  /* margin-top: 10%; */
  grid-area: headersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guardnamesection {
  /* background-color: blueviolet; */
  grid-area: guardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
  /* background-color: blue; */
  grid-area: cardsection;
  position: relative;

}

.dashboardbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}


.sdashdisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
  margin-left: 37%;
}
.sdashdisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.2vw;
  text-align: center;  
  color: #14335D;
}
.firstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dashboardlogo dashboardguard dashboardspace dashboardnotification dashboardsetting dashboardlogoutbutton";
}


#dashboardspace {
  grid-area: dashboardspace;
}

#dashboardnotification {
  grid-area: dashboardnotification;
}

#dashboardnotification img {
  margin-top: 100%;
}

#dashboardsetting {
  grid-area: dashboardsetting;
}

#dashboardsetting img {
  margin-top: 100%;
}


.SC_Name label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.SC_Name {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.SC_Name img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

.sdsideimage img {
  display: flex;
  margin-top: 84%;
  max-width: 90%;
  height: auto;
  margin-left: 9%;
  margin-bottom: 5%;  
}


.sdcard {
  width: fit-content;
  margin-left: 24%;
  margin-bottom: 10%;
  border: none;
  cursor: pointer;
}

.sdfullcardscss {
  margin-top: 4%;
  padding-left: 49px;
  width: 71%;
  margin-left: 10%;
}
/* Media query for laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .sdashdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -13%;
    margin-left: 38%;
  
}
.sdashdisplay label {
  
    font-size: 1.4vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}


  .guardname label {
    margin-left: 7%;
    margin-top: 18%;
    font-size: 15px;
  }

  .dashboardbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 10.5%;
  }

  .sdsideimage img {
    display: flex;
    margin-top: 68%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }
  .sdfullcardscss {
    margin-top: 5%;
    margin-right: 4%;
  }

  .dbcard-img-top {
    width: 150%;
  }

  /* .dashboard_passcode {
    position: relative;
    top: 36px;
    border: none;
    outline: none;
    background-color: #CFDBEB;
    text-align: center;
    width: 14px;
    border-bottom: 5px solid #000000;
  } */


}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .sdsideimage {
    display: none;
  }

  #guardnamesection {
    display: none;
  }

  #dashboardguard {
    display: none;
  }


  .sdcard {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 6%;
    margin-bottom: 10%;
    border: none;
  }

  .dashboardbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

}