html {
  height: 100vh;
}

.tlcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "tlheadersection tlheadersection"
    "tlsection cardsection"
}

#tlheadersection {

  grid-area: tlheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tlsection {
  grid-area: tlsection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tlbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.tlfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "tllogo tlsociety tldashboardspace tldashboardnotification tldashboardsetting tllogoutbutton";
}

#tllogo {
  grid-area: tllogo;
}

#tllogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#tldashboardspace {
  grid-area: tldashboardspace;
}

#tldashboardspace label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dashboardspace {
  grid-area: dashboardspace;
}

#tldashboardnotification {
  grid-area: tldashboardnotification;
}

#tldashboardnotification img {
  margin-top: 100%;
}

#tldashboardsetting {
  grid-area: tldashboardsetting;
}

#tldashboardsetting img {
  margin-top: 100%;
}

#tllogoutbutton {
  grid-area: tllogoutbutton;
}

#tllogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}
.tlname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 13%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.tlname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.tlname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}

.tlsideimage img {
  display: flex;
  margin-top: 93%;
  max-width: 90%;
  height: auto;
  margin-left: 13%;
  margin-bottom: 5%;  
}
.tldisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 14px;
  margin: auto;
  margin-top: -3%;
}
.tldisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.6vw;
  text-align: center;  
  color: #14335D;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

#tltable {
  margin-Left: 10%;
  margin-Top: 2%;
  max-Width: 80%;
  background-color: #F9FAFF;
 
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#tltable thead {
  background-color: #14335D;
  color: #fff;
}

table th {
  text-align: center;
}

#tltable td:hover{
  color: #0A8996;
}

.tlsearchbox{
  width: 20%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
  
}

#tlsociety {
  grid-area: tlsociety;
}

#tlsociety label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .tlsideimage img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }

  .tlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  #tldashboardspace label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }
  .tldisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.tldisplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
  .tlsearchbox {
    width: 28%;
    height: 5%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 60%;
}

#tlsociety label {
  margin-top: 14%;
  margin-left: -88%;
  width: 104px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

.search_input {
  outline: none;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  margin-left: 10px;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .tlsideimage {
    display: none;
  }

  #tlsection {
    display: none;
  }

  #tlsociety {
    display: none;
  }

  .tlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .tldisplay {
    width: 280px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    /* margin: auto; */
    /* margin-top: -2%; */
    margin-left: 26%;
}

.tlsearchbox {
  width: 70%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
}

.search_input {
  outline: none;
  border: none;
  height: 18px;
  width: 145px;
  border-radius: 5px;
  margin-left: 9px;
}

#tltable {
  margin-Left: 24%;
  margin-Top: 2%;
  max-Width: 100%;
  background-color: #F9FAFF;
  border-radius: 14px;
  border-collapse: separate;
  font-family: 'Rubik', sans-serif;
}

#tllogo img {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 140%;
}
}