html {
  height: 100vh;
}

.ticketcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "tktheadersection tktheadersection"
    "tktsection cardsection"
}

#tktheadersection {

  grid-area: tktheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tktsection {
  grid-area: tktsection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.tktbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.tktfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "tktlogo tktsociety tktspace tktnotification tktsetting tktlogoutbutton";
}

#tktlogo {
  grid-area: tktlogo;
}

#tktlogo img {
  margin-top: 7%;
  margin-left: -30%;
  margin-bottom: 5%;
  width: 40%;
}

#tktsociety {
  grid-area: tktsociety;
}

#tktsociety label {
  margin-top: 19%;
  margin-left: -120%;
  width: 7.5vw;
  height: 6.5vh;
  background-color: black;
  color: #fff;
  border-radius: 19px;
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
  font-size: 1.6vw;
  padding: 3%;
}

#tktspace {
  grid-area: tktspace;
}

#tktnotification {
  grid-area: tktnotification;
}

#tktnotification img {
  margin-top: 100%;
}

#tktsetting {
  grid-area: tktsetting;
}

#tktsetting img {
  margin-top: 100%;
}

#tktlogoutbutton {
  grid-area: tktlogoutbutton;
}

#tktlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
  width: 1.8vw;
  height: auto;
}

.btnApprove {
  background-color: #017069;
  color: #fff;
  border-radius: 14px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0%;
 
  margin-right: 34%;
}

.btnApprove:hover {
  background-color: #017069;
}

.btnDeny {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -20%;
  padding-top: 0%;
  margin-left: 40%;
}

.btnDeny:hover {
  background-color: #96230A;
}

.tktname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.tktname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.tktname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.tktsideimage img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}


.tktdisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
}
.tktdisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.3vw;
  text-align: center;  
  color: #14335D;
}
.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.inoutbookname {
  color: #14335D;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.tktcard {
  width: 45%;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
}

.tktclass {
  background-color: #304B71;
  width: 50%;
  line-height:0.5;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 700;
  text-transform: capitalize;
}

.tktclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.detailsclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 4%;
  text-align: left;
}

.flatnodisplay {
  color: #1A1717;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;

}

.inoutclass {
  background-color: #AED8DC;
  width: 25%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 100;
}

.tktIssuelabels {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
  margin-right: 70%;
}

.tktdesclabels {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
  margin-right: 60%;
}

.tktailabels {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
  margin-right: 50%;
}
.tktmsgbox{
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  border-radius: 8px;
  margin: auto;
  padding: 1% 4% 1% 4%;
  text-align: left;
}
.tktmsgs{
font-size: 1.2vw;
max-width: 50%;
height: 3vh;
border-radius: 8px;
border: none;
margin-left: -2%;
padding: 2%;

}
.tktMsgBtn{
  background: #0A8996;
border-radius: 10px;
border: none;
margin-left: 9%;
color: #F9F9FF;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
width: 6vw;
height: 3vh;
margin-bottom: 2%;
font-size: 1vw;
position: absolute;
}
.tktMsgBtn:hover{
background-color: #14335D;
}

.date {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  text-align: left;
}

.intime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.outtime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.noofpeople {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.vehicleno {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.tktlabel {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.name {
  display: flex;
  width: 12vw;
  height: 5vh;
 

  margin-left: 35%;
  margin-top: 2%;
justify-content: center;
align-content: center;
  color: white;
  font-weight: 700;
  font-size: 1vw;
  padding: 2%;
  background: #304B71;
border-radius: 21px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .tktsideimage img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }
  .tktbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }
  .tktailabels {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    color: #14335D;
    margin-right: 32%;
  }
  .tktdesclabels {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    color: #14335D;
    margin-right: 46%;
  }
  .labelsize {
    font-size: 12px;
  }
  .tktIssuelabels {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    color: #14335D;
    margin-right: 64%;
  }
  
  .tktdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.tktdisplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}

  .tktcard {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 2px solid #14335D;
    border-radius: 20px;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .tktsideimage {
    display: none;
  }

  #tktsection {
    display: none;
  }

  #tktsociety {
    display: none;
  }

  .tktbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .tktdisplay {
    width: 280px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin-left: 26%;
}

.tktsearchbox {
  width: 70%;
  height: 5%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-left: 70%;
  margin-top: 2%;
}

#tktlogo img {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 140%;
}

.tktcard {
  width: 138%;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
  margin-left: 10%;
}

.name {
  display: flex;
  width: 38%;
  line-height: 150%;
  background-color: #304B71;
  margin-left: 30%;
  margin-top: 2%;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-left: 7%;
}

}

/* .ticket_name
{
  max-width: 80% !important;
  height: 40% !important;
  font-size: 20px !important;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-indent: 20px;
} */