

#viewparkingtable {
    margin-Left: 10%;
    margin-Top: 2%;
    max-Width: 75%;
    background-color: #F9FAFF;
    border-radius: 14px;
    border-collapse: separate;
    font-family: 'Rubik', sans-serif;
}