
.VP_societyname label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
  color: #14335D;
}
.VP_societyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.VP_societyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
#viewparkingtable {
    margin-Left: 10%;
    margin-Top: 2%;
    max-Width: 75%;
    background-color: #F9FAFF;
    border-radius: 14px;
    border-collapse: separate;
    font-family: 'Rubik', sans-serif;
}
.viewparkedVehicle_sideimg img {
  display: flex;
  margin-top: 115%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;
}
.VLsLink{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #5C5C5C;
  font-size: 1.1vw;
  margin-left: -24%;
}
.VLsLink:hover{
color: #000;
text-decoration: none;
}
.viewparking_sideimg img {
    display: flex;
    margin-top: 63%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;
}
.VP_searchbox{
    width: 15%;
    height: 5%;
    border: 2px solid #000;
    border-radius: 15px;
    margin-left: 68.5%;
    margin-top: 1%;
    margin-bottom: -2%;
    
  }
  .vgpsidelinks{
    margin-right: 5%;
    margin-top: 10%;
    }
  .vpsidelinks{
    margin-right: 20%;
    margin-top: 10%;
    }
    .vpsidelinks label{
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
    text-align: center;
    color: #000000;
    font-size: 1.3vw;
    }
   
  .VP_searchbox input {
    outline: none;
    border: none;
    height: 5vh;
    width: 8vw;
    border-radius: 5px;
    margin-left: 6%;
  }
  
  .VP_searchbox img{
    position: relative;
    margin-top: 0%;
    margin-left: -2%;
  }
.VPdisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
    margin-top: -3%;
}
.VPdisplay label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;  
    font-size: 1.2vw;
    text-align: center;  
    color: #14335D;
}
.VpSec{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #000;
  font-size: 1.1vw;
  margin-left: 1.5%;
}
.ApSec{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  color: #5C5C5C;
  font-size: 1.1vw;
 
  
}
.VpSec:hover{
  color:#000;
  text-decoration: none;
}
.ApSec:hover{
  color:#000;
  text-decoration: none;
}
.viewGparking_sideimg img {
  display: flex;
  margin-top: 84%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

  .viewGparking_sideimg img {
    display: flex;
    margin-top: 110%;
    max-width: 86%;
    height: auto;
    margin-left: 8%;
  }
  .vpsidelinks {
        margin-right: 38%;
        margin-top: 10%;
      }
      .vpsidelinks label{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
      text-align: center;
      color: #000000;
      font-size: 1.3vw;
      }
    .VP_searchbox{
        width: 15%;
        height: 5%;
        border: 2px solid #000;
        border-radius: 15px;
        margin-left: 68%;
        margin-top: 0%;
        
      }
      .viewparking_sideimg img {
        display: flex;
        margin-top: 17%;
        max-width: 86%;
        height: auto;
        margin-left: 8%;
    }
    .VPdisplay {
        width: 17vw;
        height: 7vh;
        background-color: #AED8DC;
        border-radius: 30px;
        font-size: 20px;
        padding: 0.5%;
        margin: auto;
        margin-top: -3%;
        margin-left: 37%;
    }
    .VPdisplay label {
      
        font-size: 1.4vw;
        text-align: center;
        font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;

       

        
    }
}