html {
  height: 100vh;
}

.aiocontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "aiosection aiosection"
    "aiosocietysection cardsection"
}

#aiosection {

  grid-area: aiosection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#aiosocietysection {

  grid-area: aiosocietysection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aiosideimage img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;
}
.aiobackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}


.aiosocietyname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.aiosocietyname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

.aiosocietyname label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 8%;
  margin-top: 12%;
  font-size: 20px;
}

.aiodisplay {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 16px;
  margin: auto;
  margin-top: -3%;
}
.aiodisplay label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.3vw;
  text-align: center;  
  color: #14335D;
}

.btnInOut {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 9vw;
  height: 5.5vh;
  font-size: 1.3vw;
  font-weight: 500;
  margin-top: 2%;
  margin-right: 34%;
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
border: none;
}
.btnInOut:hover{
  background: #14335D;
}

.AIOformclass {
  margin-top: 2%;
  margin-left: 25%;
}
.AIOBorder{
  background: #FFFFFF;
border: 2px solid #14335D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


  .aiosideimage img {
    display: flex;
    margin-top: 125%;
    width: 100%;
    height: auto;
  }
  .AIOBorder{
    background: #FFFFFF;
  border: 2px solid #14335D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  }
  
  .aiobackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  
  .btnInOut {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 155px;
    height: 44px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    margin-right: 35%;
    padding-top: 0%;
  border: none;
  }
  .btnInOut:hover{
    background: #14335D;
  }
  .aiodisplay {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.aiodisplay label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}


}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .aiosideimage {
    display: none;
  }

  #aiosocietysection {
    display: none;
  }
  
  .aiobackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .aiodisplay {
    width: 160px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin-left: 78%;
}

.btnInOut {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 140px;
  margin-right: auto;
  border: none;
}

.AIOformclass {
  margin-top: 5%;
  margin-left: 42%;
  width: 170%;
}

}


.select_visibility{
  display: none;
}