html {
  height: 100vh;
}

.dailyhelplistcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "dhlheadersection dhlheadersection"
    "dhlguardnamesection cardsection"
}

#dhlheadersection {
  /* background-color: aquamarine; */
  /* margin-top: 10%; */
  grid-area: dhlheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#dhlguardnamesection {
  /* background-color: blueviolet; */
  grid-area: dhlguardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
  /* background-color: blue; */
  grid-area: cardsection;
  position: relative;

}

.dhlbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.dhlfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dhldashboardlogo dhldashboardguard dhldashboardspace dhldashboardnotification dhldashboardsetting dhldashboardlogoutbutton";
}

#dhldashboardlogo {
  grid-area: dhldashboardlogo;
}

#dhldashboardlogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#dhldashboardguard {
  grid-area: dhldashboardguard;
}

#dhldashboardguard label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dhldashboardspace {
  grid-area: dhldashboardspace;
}

#dhldashboardnotification {
  grid-area: dhldashboardnotification;
}

#dhldashboardnotification img {
  margin-top: 100%;
}

#dhldashboardsetting {
  grid-area: dhldashboardsetting;
}

#dhldashboardsetting img {
  margin-top: 100%;
}

#dhldashboardlogoutbutton {
  grid-area: dhldashboardlogoutbutton;
}

#dhldashboardlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

.btnlogout {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 142px;
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18%;
  padding-top: 2%;
}

.dhlguardname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.dhlguardname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}

.dhlguardname label {
  color: #000;
  margin-left: 8%;
  margin-top: 10%;
  font-size: 20px;
}

.sideimage img {
  display: flex;
  margin-top: 80%;
  width: 100%;
  height: auto;
}

.Dailyhelplistdisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 20px;
  padding-top: 14px;
  margin: auto;
  margin-top: -2%;
}

.labelsize {
  font-size: 20px;
}

.btnAdd {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 250px;
  height: 60px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 34%;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.dailyhelpminicard {
  margin-left: 24%;
  margin-bottom: 10%;
  border: none;
  background-color: #0A8996;
  width: 80%;
  height: 90%;
  border-radius: 20px;
}

.dhcard-titlename {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-weight: 600;
}

.dhcard-profession {
  width: 40%;
  height: fit-content;
  background-color: #AED8DC;
  border-radius: 8px;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

.dhcard-allowedhouses {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.card-img-top {
  width: 30%;
  height: 30%;
  margin: auto;
  border-radius: 50px;
}

.fullcardscss{
  margin-top: 5%;
    padding-left: 10%;
    padding-right: 16%;
}

.dailyhelpminicard:hover{
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

.dailyhelpminicard:hover label{
  color: #000;
}



/* Media query for laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .dhlguardname label {
    margin-left: 7%;
    margin-top: 18%;
    font-size: 15px;
  }

  .sideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .dhlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  .btnAdd {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 155px;
    height: 36px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    margin-right: 35%;
    padding-top: 0%;
  }

  #dhldashboardguard label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .Dailyhelplistdisplay {
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin: auto;
    margin-top: -16%;
  }
  .dailyhelpminicard {
    margin-left: 24%;
    margin-bottom: 10%;
    border: none;
    background-color: #0A8996;
    width: 90%;
    height: 90%;
    border-radius: 20px;
  }
  
  .dhcard-titlename {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 600;
  }
  
  .dhcard-profession {
    width: 50%;
    height: fit-content;
    background-color: #AED8DC;
    border-radius: 8px;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    color: #14335D;
  }
  
  .dhcard-allowedhouses {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  
  .dhcard-img-top {
    width: 30%;
    height: 30%;
    margin: auto;
  }
  
  .fullcardscss{
    margin-top: 5%;
      padding-left: 10%;
      padding-right: 16%;
  }
  
  .dailyhelpminicard:hover{
    color: #000;
    background-color: #fff;
    border: #000;
    border: 2px solid #000;
  }
  
  .dailyhelpminicard:hover label{
    color: #000;
  }
  
}

/* Media query for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .sideimage {
    display: none;
  }

  #dhlguardnamesection {
    display: none;
  }

  #dhldashboardguard {
    display: none;
  }

  #dashboardlogo img {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 114%;
  }

  .code {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  .enterpasscodesearch {
    width: 58%;
    height: 10%;
    background-color: #CFDBEB;
    border-radius: 25px;
    border-color: #0A8996;
    border-style: solid;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 600;
    color: #0A8996;
  }

  .dashboardcard {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 6%;
    margin-bottom: 10%;
    border: none;
  }

  .dashboardbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

}