html {
  height: 100vh;
}

.dailyservicepasscodecontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "dspheadersection dspheadersection"
    "dspguardnamesection cardsection"
}

#dspheadersection {

  grid-area: dspheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#dspguardnamesection {
  
  grid-area: dspguardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.dspbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.dspfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dspdashboardlogo dspdashboardguard dspdashboardspace dspdashboardnotification dspdashboardsetting dspdashboardlogoutbutton";
}

#dspdashboardlogo {
  grid-area: dspdashboardlogo;
}

#dspdashboardlogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#dspdashboardguard {
  grid-area: dspdashboardguard;
}

#dspdashboardguard label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dspdashboardspace {
  grid-area: dspdashboardspace;
}

#dspdashboardnotification {
  grid-area: dspdashboardnotification;
}

#dspdashboardnotification img {
  margin-top: 100%;
}

#dspdashboardsetting {
  grid-area: dspdashboardsetting;
}

#dspdashboardsetting img {
  margin-top: 100%;
}

#dspdashboardlogoutbutton {
  grid-area: dspdashboardlogoutbutton;
}

#dspdashboardlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

.btnlogout {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 142px;
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18%;
  padding-top: 2%;
}


.dspguardname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.dspguardname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}

.dspguardname label {
  color: #000;
  margin-left: 8%;
  margin-top: 12%;
  font-size: 20px;
}

.sideimage img {
  display: flex;
  margin-top: 125%;
  width: 100%;
  height: auto;
}

.dailyservicepasscodedisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 40px;
  margin: auto;
  margin-top: -2%;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.dailycard {
  width: 35%;
  margin: auto;
  margin-top: 8%;
  background-color: #14335D;
  columns: #fff;
  border-radius: 20px;
  margin-left: 36%;
}

.dailyhelpnamelabel {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.proflabel {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.allowedlabel {
  font-weight: 200;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.profileimage img{
  padding-top: 5%;
  width: 50%;
}

.flatclass {
  display: block;
  background-color: #fff;
  margin-top: 8%;
}

.flatnum{
  margin-top: 4%;
}

.detailslabel{
  color: #14335D;
  display: block;
  background-color: #AED8DC;
  width: 60%;
  margin-top: 1%;
  line-height: 3;
  border-radius: 15px;
  text-align: left;
  padding-left: 5%;
  font-size: 16px;
}

.btnAddDSP {
  background-color: #017069;
  color: #fff;
  border-radius: 14px;
  width: 155px;
  height: 50px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 35%;
  padding-top: 0%;
}

.btnDenyDSP {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 155px;
  height: 50px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 35%;
  padding-top: 0%;
  /* border-radius: 14px;
  width: 155px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -5%;
  padding-top: 0%;
  margin-left: 48%; */
}

.buttons_dailyservice{
  
  position: relative;
  left: -42%;
  top: 50%;
}

.buttons_dailyservice div{
  display: flex;
  gap: 20px;
}

#approve_entry:hover{
  background-color: #14335D;
}

#deny_entry:hover
{
  width: 300px !important;
  background-color: #14335D;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .dspguardname label {
    margin-left: 7%;
    margin-top: 18%;
    font-size: 15px;
  }

  .sideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .dspbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  .btnAddDSP {
    background-color: #017069;
    color: #fff;
    border-radius: 14px;
    width: 155px;
    height: 36px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    margin-right: 35%;
    padding-top: 0%;
  }

  #dspdashboardguard label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .dailyservicepasscodedisplay {
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 40px;
    padding-top: 0px;
    margin: auto;
    margin-top: -16%;
  }

  .dailycard {
    width: 60%;
    margin: auto;
    margin-top: 12%;
    background-color: #14335D;
    border-radius: 20px;
  }

  .detailslabel{
    color: #14335D;
    display: block;
    background-color: #AED8DC;
    width: 60%;
    margin-top: 3%;
    line-height: 3;
    border-radius: 15px;
    text-align: left;
    padding-left: 5%;
    font-size: 16px;
  }

  .flatclass {
    display: block;
    background-color: #fff;
    margin-top: 12%;
  }  

}

