html {
  height: 100vh;
}

.dailyhelplistcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "dhlheadersection dhlheadersection"
    "dhlguardnamesection cardsection"
}

#dhlheadersection {

  grid-area: dhlheadersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#dhlguardnamesection {

  grid-area: dhlguardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {

  grid-area: cardsection;
  position: relative;

}

.dhlbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.dhlfirstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dhldashboardlogo dhldashboardguard dhldashboardspace dhldashboardnotification dhldashboardsetting dhldashboardlogoutbutton";
}

#dhldashboardlogo {
  grid-area: dhldashboardlogo;
}

#dhldashboardlogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#dhldashboardguard {
  grid-area: dhldashboardguard;
}

#dhldashboardguard label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dhldashboardspace {
  grid-area: dhldashboardspace;
}

#dhldashboardnotification {
  grid-area: dhldashboardnotification;
}

#dhldashboardnotification img {
  margin-top: 100%;
}

#dhldashboardsetting {
  grid-area: dhldashboardsetting;
}

#dhldashboardsetting img {
  margin-top: 100%;
}

#dhldashboardlogoutbutton {
  grid-area: dhldashboardlogoutbutton;
}

#dhldashboardlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}
.DHL_Name label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 13%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.DHL_Name {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 11%;
  border-radius: 24px;
}
.DHL_Name img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}
.DHL_SideImg img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}

.DHL_display {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 14px;
  margin: auto;
  margin-top: -3%;
}
.DHL_display label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.4vw;
  text-align: center;  
  color: #14335D;
}

.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.dailyhelpminicard{
  margin-left: 42%;
  margin-bottom: 10%;
  border: none;
  background-color: #0A8996;
  width: 14.5vw;
  height: 17vh;
  border-radius: 20px;
}

.dhlcard-titlename {
  font-size: 0.9vw;
  font-family: 'Rubik', sans-serif;
  color: #fff;
font-style: normal;
font-weight: 500;
}

.dhlcard-profession {
  width: 4.5vw;
  height: fit-content;
  background-color: #AED8DC;
  border-radius: 8px;
 margin: auto;
  font-family: 'Rubik', sans-serif;
  color: #14335D;

}

.dhcard-allowedhouses {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1vw;
font-style: normal;
font-weight: 400;
margin-top: -5%;
}

.dhcard-img-top {
  width: 4.5vw;
  height: 5.5vh;
  margin: auto;
  border-radius: 100px;
}

.dhfullcardscss {
  margin-top: 4%;
  padding-left: 0%;
  padding-right: 16%;
  margin-left: 5%;
}

.dailyhelpminicard:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}

.dailyhelpminicard:hover label {
  color: #000;
}




@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 

  .DHL_SideImg img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }

  .dhlbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  #dhldashboardguard label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .DHL_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.DHL_display label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}
  .dailyhelpminicard{
    margin-left: 24%;
    margin-bottom: 10%;
    border: none;
    background-color: #0A8996;
    width: 90%;
    height: 90%;
    border-radius: 20px;
  }

  .dhlcard-titlename {
    font-size: 1.2vw;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 500;
}
.dhlcard-profession {
  width: 7vw;
  height: fit-content;
  background-color: #AED8DC;
  border-radius: 8px;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}
  .dhcard-allowedhouses {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;

  }
  .dhcard-img-top {
    width: 5vw;
    height: 9vh;
    margin: auto;
}
  .dhfullcardscss {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 16%;
  }

  .dailyhelpminicard:hover {
    color: #000;
    background-color: #fff;
    border: #000;
    border: 2px solid #000;
  }

  .dailyhelpminicard:hover label {
    color: #000;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

  #dhlguardnamesection {
    display: none;
  }

  #dhldashboardguard {
    display: none;
  }

  #dhldashboardlogo img {
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 144%;
  }

  .code {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  .enterpasscodesearch {
    width: 58%;
    height: 10%;
    background-color: #CFDBEB;
    border-radius: 25px;
    border-color: #0A8996;
    border-style: solid;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 600;
    color: #0A8996;
  }

  .dashboardcard {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 6%;
    margin-bottom: 10%;
    border: none;
  }

  .dashboardbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }

  .dailyhelpminicard{
    margin-left: 54%;
    margin-top: 10%;
    border: none;
    background-color: #0A8996;
    width: 114%;
    height: 94%;
    border-radius: 20px;
  }

  .dhcard-img-top {
    width: 28%;
    height: 30%;
    margin: auto;
  }

  .dhfullcardscss {
    margin-top: 2%;
    padding-left: 0%;
    padding-right: 34%;
}
}