html {
  height: 100vh;
}

.dashboardcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "headersection headersection"
    "guardnamesection cardsection"
}


.code {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: -6%;
}

.dashboard_passcode {
  position: relative;
  top: 30px;
  border: none;
  outline: none;
  background-color: #CFDBEB;
  text-align: center;
  width: 1vw;
  border-bottom: 5px solid #000000;

}

#headersection {
  
  grid-area: headersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guardnamesection {
 
  grid-area: guardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cardsection {
 
  grid-area: cardsection;
  position: relative;

}

.dashboardbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.firstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dashboardlogo dashboardguard dashboardspace dashboardnotification dashboardsetting dashboardlogoutbutton";
}



#dashboardspace {
  grid-area: dashboardspace;
}

#dashboardnotification {
  grid-area: dashboardnotification;
}

#dashboardnotification img {
  margin-top: 100%;
}

#dashboardsetting {
  grid-area: dashboardsetting;
}

#dashboardsetting img {
  margin-top: 100%;
}



.GuardName label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.GuardName {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.GuardName img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

.GDsideimage img {
  display: flex;
    margin-top: 99%;
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    margin-bottom: 3%;  
}

.enterpasscodesearch {
  width: 23.5vw;
  height: 11vh;
  background-color: #CFDBEB;
  border-radius: 25px;
  border-color: #0A8996;
  border-style: solid;
 margin-left: 33%;
  margin-top: 4%;
  font-size: 1.2vw;
  font-weight: 600;
  color: #0A8996;
}

.enterpasscodesearch label{
  margin-top: 2%;
}

.enterpasscodesearch img {
  margin-left: 105%;
  margin-top: -7.5%;
  width: 3.5vw;
  height: auto;
}

.search_icon
{
  transition: .3s ease-in-out all;
}

.search_icon:hover
{
  transform: scale(1.15);
}

.DashBoardCard {
  width: fit-content;
  margin-left: 42%;
  margin-bottom: 10%;
  border: none;
  cursor: pointer;
  /* transition all : .5s ease-out; */
  
}
.DashBoardCard img {
  width: 15vw;
  padding-right: -10%;
  /* transition: .2s all ease-in-out; */
}



.FullCardsCss {
  margin-top: 6%;
  padding: 0%;
  margin-right: 60%;
  width: 65vw;
  
}





/* .DashBoardCard:hover{
  transition: .5s ease all;
} */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .code {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
}
.enterpasscodesearch img {
  margin-left: 105%;
  margin-top: 2.5%;
  width: 3.5vw;
  height: auto;
}
  .dashboardbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 10.5%;
  }

  .GDsideimage img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }

  .FullCardsCss {
    margin-top: 5%;
    margin-right: 4%;
  }

  .dbcard-img-top {
    width: 150%;
  }

  .dashboard_passcode {
    position: relative;
    top: 36px;
    border: none;
    outline: none;
    background-color: #CFDBEB;
    text-align: center;
    width: 1.5vw;
    border-bottom: 5px solid #000000;
  }

 
    .enterpasscodesearch {
      width: 23vw;
      height: 13vh;
      background-color: #CFDBEB;
      border-radius: 25px;
      border-color: #0A8996;
      border-style: solid;
      /* margin: auto; */
      margin-top: -7%;
      font-size: 1.5vw;
      font-weight: 600;
      color: #0A8996;
      margin-left: 31%;
  }

.search_icon
{
  cursor: pointer;
  position: relative !important;
  bottom:9px !important;
  transition: .2s ease all;
}

.search_icon:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75rem #0a3696)
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  .GDsideimage {
    display: none;
  }

  #guardnamesection {
    display: none;
  }


  .code {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  .enterpasscodesearch {
    width: 24rem;
    height: 7rem;
    background-color: #CFDBEB;
    border-radius: 8px;
    border-color: #0A8996;
    border-style: solid;
    /* margin: auto; */
    margin-left: 23%;
    margin-top: 5%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #0A8996;
}

.DashBoardCard {
  width: fit-content;
  margin-bottom: 10%;
  border: none;
}
  .dashboard_passcode {
    position: relative;
    margin-top: -9%;
    border: none;
    outline: none;
    background-color: #CFDBEB;
    text-align: center;
    width: 1.6rem;
    border-bottom: 3px solid #000000;
}
.enterpasscodesearch img {
  margin-left: 105%;
  margin-top: -5.5%;
  width: 4rem;
  height: auto;
}
  .dashboardbackgroundimg {
   
    background-image: url(http://localhost:3000/static/media/dashboardbackground.304b459….svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
   
  }
  .code {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.FullCardsCss {
  margin-top: 9%;
  padding: 0%;
  margin-left: 5%;
}
.DashBoardCard img {
  width: 15rem;
  margin-left: -6%;
}

}