html{
  height: 100vh;
}

.forgotpcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "fplogoid fpimgid"
    "fpformid fpimgid"
}

#fplogoid {

  grid-area: fplogoid;
}

#fpimgid {

  grid-area: fpimgid;
}

#fpimgid img{
  height: 100vh;
}

#fpformid {
  
  grid-area: fpformid;
  position: relative;
}

.fp {

  width: 400px;
  height: 76px;

  background-color: #14335D;
   margin-left: 28%; 
  margin-top: 6%;
  font-size: 36px;
  
}

.forgotplabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.req{
  color: red;
}

.btnsendotp{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 250px;
  height: 60px; 
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  padding-bottom: 3%;
}

#fplogoid img{
  margin-top: 10%;
}

.input_fields
{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.fpemail{
  position: relative;
  right:32%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.password
{
  position: relative;
  right: 41%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.forgotpassword{
  margin-top: 3%;
}

.emailtextbox{
  width: 97%;
}

.passwordtextbox{
  width: 97%
}


@media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {

  .forgotpcontainer {
    overflow-y: hidden;
  }

  #fpimgid img{
    width: 180%
  }

  .fp {
    width: 230px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  .btnsendotp {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 186px;
    height: 50px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
}

.forgotplabel {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}

.fpemail {
  position: relative;
  right: 35%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.password {
  position: relative;
  right: 35%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}
}


@media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {

  #fpimgid{
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #fplogoid img {
    margin-top: 10%;
    margin-left: 36%;
}

.input_fields {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 27.5%;
}

.fpemail {
  position: relative;
  right: 37%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.password {
  position: relative;
  right: 37%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.btnsendotp {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  padding-bottom: 4%;
}
}