html {
  height: 100vh;
}

.forgotpcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "fplogoid fpimgid"
    "fpformid fpimgid"
}

#fplogoid {

  grid-area: fplogoid;
}

#fpimgid {

  grid-area: fpimgid;
}

#fpimgid img {
  height: 100vh;
}

#fpformid {

  grid-area: fpformid;
  position: relative;
}

.fp {
  width: 25vw;
  height: 7vh;
  background-color: #14335D;
  margin-left: 14%; 
  margin-top: 8%;

  padding: 0%;
  
}

.forgotplabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}

.req {
  color: red;
}

.Fbtnsendotp {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 6%;
  padding-bottom: 3%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -13.5%;
}

#fplogoid img {
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}

.fpemail{
  position: absolute;
 margin-top: -13%;
 margin-left: -75%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
  font-style: normal;
font-weight: 500;
}


.forgotpassword {
  margin-top: 3%;
}

.gfptextbox{
  width: 24.5vw;
  height: 4.5vh;
  margin-left: -25%;
  margin-top: -3%;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #fplogoid img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
}
  .forgotpcontainer {
    overflow-y: hidden;
  }

  #fpimgid img {
    width: 180%
  }

  .fp {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
}
  .Fbtnsendotp {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 13vw;
    height: 7vh;
    font-size: 1.5vw;
    font-weight: 700;
    margin-top: 37%;
    padding-bottom: 0%;
    font-family: 'Rubik';
    font-style: normal;
  }

  .forgotplabel {
    display: inline-block;
    margin-top: 3%;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    padding-top: 2%;
  }
  
  .fpemail {
    position: absolute;
    margin-left: -75%;
    margin-top: 3%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
  }

  .gfptextbox {
    width: 29vw;
    height: 5.5vh;
    margin-left: -25%;
    margin-top: 14%;
    position: absolute;
}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {

  #fpimgid {
    display: none;
  }

  .signin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  /* .input_fields {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 27.5%;
  } */

  .fpemail {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .password {
    position: relative;
    right: 37%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  .Fbtnsendotp {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 200px;
    height: 60px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}


.Fbtnsendotp:hover {
  background-color: #14335D;
}