html {
  height: 100vh;
}

.frequentvisitorcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "headersection headersection"
    "guardnamesection cardsection"
}

#headersection {
  /* background-color: aquamarine; */
  /* margin-top: 10%; */
  grid-area: headersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guardnamesection {
  /* background-color: blueviolet; */
  grid-area: guardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.backgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.firstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dashboardlogo dashboardguard dashboardspace dashboardnotification dashboardsetting dashboardlogoutbutton";
}

#dashboardlogo {
  grid-area: dashboardlogo;
}

#dashboardlogo img {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
  width: 40%;
}

#dashboardguard {
  grid-area: dashboardguard;
}

#dashboardguard label {
  margin-top: 20%;
  margin-left: -88%;
  width: 136px;
  height: 58px;
  background-color: black;
  color: #fff;
  border-radius: 18px;
  padding-top: 4%;
  font-size: 20px;
}

#dashboardspace {
  grid-area: dashboardspace;
}

#dashboardnotification {
  grid-area: dashboardnotification;
}

#dashboardnotification img {
  margin-top: 100%;
}

#dashboardsetting {
  grid-area: dashboardsetting;
}

#dashboardsetting img {
  margin-top: 100%;
}

#dashboardlogoutbutton {
  grid-area: dashboardlogoutbutton;
}

#dashboardlogoutbutton img {
  padding-left: 10%;
  padding-bottom: 5%;
}

.btnApprove {
  background-color: #017069;
  color: #fff;
  border-radius: 14px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0%;
  /* margin-left: -10%; */
  margin-right: 34%;
}

.btnApprove:hover {
  background-color: #017069;
}

.btnDeny {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -20%;
  padding-top: 0%;
  margin-left: 40%;
}

.btnDeny:hover {
  background-color: #96230A;
}

.btnlogout {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 142px;
  height: 52px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18%;
  padding-top: 2%;
}


.guardname {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}

.guardname img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 4%;
}

.guardname label {
  color: #000;
  margin-left: 8%;
  margin-top: 12%;
  font-size: 20px;
}

.sideimage img {
  display: flex;
  margin-top: 125%;
  width: 100%;
  height: auto;
}

.frequentvisitordisplay {
  width: 300px;
  height: 64px;
  background-color: #AED8DC;
  border-radius: 30px;
  font-size: 40px;
  margin: auto;
  margin-top: -3%;
}

.labelsize {
  font-size: 20px;
}

.btnAdd {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 250px;
  height: 60px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 34%;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.inoutbookname {
  color: #14335D;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.frequentvisitorcard {
  width: 25%;
  margin: auto;
  margin-top: 5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
}

.profclass {
  background-color: #304B71;
  width: 50%;
  line-height:2;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 700;
  text-transform: capitalize;
}

.flatclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.detailsclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}

.flatnodisplay {
  color: #1A1717;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;

}

.inoutclass {
  background-color: #AED8DC;
  width: 25%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 100;
}

.allowedclass {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #222433;
}

.date {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  text-align: left;
}

.intime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.outtime {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.noofpeople {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.vehicleno {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.namelabel {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

/* Media query for laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .guardname label {
    margin-left: 7%;
    margin-top: 18%;
    font-size: 15px;
  }

  .sideimage img {
    display: flex;
    margin-top: 216%;
    width: 100%;
    height: auto;
  }

  .backgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  .btnAdd {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 155px;
    height: 36px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    margin-right: 35%;
    padding-top: 0%;
  }

  #dashboardguard label {
    margin-top: 14%;
    margin-left: -68%;
    width: 108px;
    height: 45px;
    background-color: black;
    color: #fff;
    border-radius: 18px;
    padding-top: 3%;
    font-size: 20px;
  }

  .frequentvisitordisplay {
    width: 300px;
    height: 64px;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 14px;
    margin: auto;
    margin-top: -16%;
  }

  .frequentvisitorcard {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 2px solid #14335D;
    border-radius: 20px;
  }

  .btnDeny {
    background-color: #96230A;
    color: #fff;
    border-radius: 14px;
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: -13%;
    padding-top: 0%;
    margin-left: 60%;
  }
}