html {
  height: 100vh;
}

.inoutbookcardcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "headersection headersection"
    "guardnamesection cardsection"
}

#headersection {

  grid-area: headersection;
  background-color: #F9F9FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guardnamesection {
  grid-area: guardnamesection;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.Iobcbackgroundimg {
  background-image: url("../../../public/images/dashboardbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 0.5%;
}

.firstheadersection {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 0.2fr 0.2fr 1fr;
  grid-template-areas: "dashboardlogo dashboardguard dashboardspace dashboardnotification dashboardsetting dashboardlogoutbutton";
}


#dashboardspace {
  grid-area: dashboardspace;
}

#dashboardnotification {
  grid-area: dashboardnotification;
}

#dashboardnotification img {
  margin-top: 100%;
}

#dashboardsetting {
  grid-area: dashboardsetting;
}

#dashboardsetting img {
  margin-top: 100%;
}


.btnOut {
  background-color: #96230A;
  color: #fff;
  border-radius: 14px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0%;
  margin: auto;
  border: none;
}
.btnOut:hover{
  background-color: #14335D;
}
.btn:hover{
  background-color: #96230A
}

.IOBC_GName label {
  font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
  margin-left: 4%;
  margin-top: 12%;
  font-size: 1.2vw;
  padding-top: 0.5%;
}
.IOBC_GName {
  display: flex;
  width: 80%;
  height: 12%;
  background-color: rgba(10, 137, 150, 0.33);
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 24px;
}
.IOBC_GName img {
  margin-left: 10%;
  width: 25%;
  height: 70%;
  margin-top: 5%;
}

.IOBC_SImg img {
  display: flex;
  margin-top: 99%;
  max-width: 90%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 3%;  
}

.IOBC_display {
  width: 16vw;
  height: 7vh;
  background-color: #AED8DC;
  border-radius: 30px;
  padding-top: 14px;
  margin: auto;
  margin-top: -3%;
}
.IOBC_display label {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;  
  font-size: 1.4vw;
  text-align: center;  
  color: #14335D;
}
.labelsize {
  font-size: 20px;
}

.formclass {
  margin-top: 5%;
  margin-left: 25%;
}

.inoutbookname {
  color: #14335D;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

.inoutbookcard {
  width: 30%;
  margin: auto;
  margin-top: 3%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 20px;
}

.profclass {
  background-color: #304B71;
  width: 50%;
  line-height:2;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 700;
}

.flatclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
}

.detailsclass {
  background-color: #AED8DC;
  width: 80%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}

.flatnodisplay {
  color: #1A1717;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;

}

.inoutclass {
  background-color: #AED8DC;
  width: 25%;
  height: fit-content;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 100;
}

.inbcallowedclass {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #222433;
}

.date{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.intine{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
} 

.outtime{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.noofpeople{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.vehicleno{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

.namelabel{ 
  font-weight: 600;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  color: #14335D;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .IOBC_SImg img {
    display: flex;
    margin-top: 93%;
    max-width: 95%;
    height: auto;
    margin-left: 2%;
  }
  .Iobcbackgroundimg {
    background-image: url("../../../public/images/dashboardbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: 12.5%;
  }

  .labelsize {
    font-size: 12px;
  }

  .IOBC_display {
    width: 17vw;
    height: 7vh;
    background-color: #AED8DC;
    border-radius: 30px;
    font-size: 1.4vw;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    margin-left: 38%;
}
.IOBC_display label {
  
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #14335D;
}

  .card {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 2px solid #14335D;
    border-radius: 20px;
  }

  .btnOut {
    background-color: #96230A;
    color: #fff;
    border-radius: 14px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1%;
    margin: auto;
    border: none;
  }
  .btnOut:hover{
    background-color: #14335D;
  }
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  .iobbackgroundimg {
   
    background-image: url(http://localhost:3000/static/media/dashboardbackground.304b459….svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
    margin-left: 0%;
    margin-right: -64%;
  }
  .Iobcbackgroundimg {
   
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10.5%;
  }
  .IOBC_display {
    width: 15rem;
    height: 5rem;
    background-color: #AED8DC;
    border-radius: 14px;
    padding-top: 4.5%;
    margin: auto;
    margin-top: -1%;
    margin-right: 21%;
}
.IOBC_display label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #14335D;
}
.inoutbookcard {
  min-width: 33rem;
  margin-top: 2.5%;
  background-color: #fff;
  border: 2px solid #14335D;
  border-radius: 15px;
  margin-left: 9%;
  height: auto;
}



}

#inout
{
  margin-bottom: 8%;
}