html{
  height: 100vh;
}

.logincontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "Glogoid Gloginimgid"
    "Gloginformid Gloginimgid"
}

#Glogoid {
 
  grid-area: Glogoid;
}

#Gloginimgid {
  grid-area: Gloginimgid;
}

#Gloginimgid img{
  height: 100vh;
  width: 65vw;
  animation: moveImage 5s infinite ;
}

#Gloginformid {
 
  grid-area: Gloginformid;
  position: relative;
}


@keyframes moveImage {
  0%{
    transform: translateY(10px);
  }
  25%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}

.Guardsignin {
  width: 23vw;
  height: 6vh;
  background-color: #14335D;
  margin-left: 17%; 
  margin-top: 8%;

  padding: 0%;
  
}

.Guardsigninlabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}

.req{
  color: red;
}

.GuardLoginbtn{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 6%;
  padding-bottom: 3%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -13.5%;
}

#Glogoid img{
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}

.input_fields
{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.usernameemail{
  position: absolute;
 margin-top: -10%;
 margin-left: -70%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2vw;
  font-style: normal;
font-weight: 500;
}

.guardpassword
{
  position: absolute;
  margin-top: -11%;
  margin-left: -70%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
}

.Guardforgotpassword{
 margin-left: -10%;
 margin-top: 2%;
  text-decoration: none;
  /* font-size: 1.4vw; */
}

.emailtextboxguard{
  width: 23vw;
  height: 4.5vh;
  margin-left: -20%;
  margin-top: -5%;
}

.passwordtextboxguard{
  width: 23vw;
  height: 4.5vh;
  margin-left: -20%;
  margin-top: 1.5%;
}

.Guardforgotpassword a {
  font-size: 1.1vw;
  color: #FD6B22;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
    }
@media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
  #Glogoid img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
}
  .logincontainer {
    overflow-y: hidden;
  }

  .Guardforgotpassword{
    margin-top: 1%;
  }
  .Guardforgotpassword a {
    font-size: 1.1vw;
    color: #FD6B22;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
      }
  #Gloginimgid img{
    height: 100vh;
    width: 60vw;
  }
  .emailtextboxguard {
    width: 29vw;
    height: 5.5vh;
    margin-left: -25%;
    margin-top: 14%;
    position: absolute;
}
.passwordtextboxguard{
  width: 29vw;
    height: 5.5vh;
    margin-left: -25%;
    margin-top: 24%;
    position: absolute;
}

  .Guardsignin {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
}

.GuardLoginbtn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 13vw;
  height: 7vh;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 37%;
  padding-bottom: 0%;
  font-family: 'Rubik';
  font-style: normal;
}

.Guardsigninlabel {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}

.usernameemail {
  position: absolute;
  margin-left: -75%;
  margin-top: 3%;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

.guardpassword {
  
    position: absolute;
    margin-left: -75%;
    margin-top: 13%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  #Gloginimgid {
    /* display: none; */
    position: absolute;
    margin-top: 151%;
}
#Gloginimgid img {
  height: 32vh;
  width: 100vw;
  animation: moveImage 5s infinite;
}
  .Guardsignin {
    width: 68vw;
    height: 5vh;
    background-color: #14335D;
    margin-left: 24%;
    margin-top: 10%;
    margin-bottom: 84%;
    padding: 0%;
}
.Guardsigninlabel {
  display: inline-block;
  margin: 2%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
  #Glogoid img {
    width: 50%;
    height: auto;
    margin-top: 17%;
    margin-left: 49%;
}

.input_fields {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: -77%;
  margin-left: -3%;
}
.usernameemail {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: #14335D;
  margin-top: 0%;
  margin-left: -65%;
}
.guardpassword {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: #14335D;
  margin-top: -2%;
  margin-left: -66%;
}
.emailtextboxguard {
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-top: 0%;
}
.passwordtextboxguard {
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-top: 0%;
}
.GuardLoginbtn {
  background-color: #0A8996;
  color: #fff;
  border-radius: 10px;
  width: 14rem;
  height: 3.5rem;
  font-weight: 500;
  margin-top: 2%;
  padding-bottom: 2%;
  margin-left: 0%;
  font-size: 1.5rem;
}
.Guardforgotpassword {
  margin-left: 2%;
  margin-top: 2%;
  text-decoration: none;
}
.Guardforgotpassword a {
  font-size: 1.2rem;
  color: #FD6B22;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
}
}

#login:hover
{
  background-color: #14335D;
}