html{
  height: 100vh;
}

.nplogincontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "nplogoid nploginimgid"
    "nploginformid nploginimgid"
}

#nplogoid {

  grid-area: nplogoid;
}

#nploginimgid {
  grid-area: nploginimgid;
}

#nploginimgid img{
  height: 100vh;
}

#nploginformid {
  
  grid-area: nploginformid;
  position: relative;
}

.npsignin {
 
  width: 400px;
  height: 76px;

  background-color: #14335D;
   margin-left: 28%; 
  margin-top: 6%;
  font-size: 36px;
  
}

.nplabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.req{
  color: red;
}

.btnconfirm{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 250px;
  height: 60px; 
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  padding-bottom: 3%;
}

#nplogoid img{
  margin-top: 10%;
}

.npinput_fields
{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 27.5%;
}

.npnewpassword{
  position: relative;
  right:37%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.npconfirmpassword
{
  position: relative;
  right: 34%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.emailtextbox{
  width: 97%;
}

.passwordtextbox{
  width: 97%
}


@media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {

  .nplogincontainer {
    overflow-y: hidden;
  }

  #nploginimgid img{
    width: 180%
  }

  .npsignin {
    width: 230px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  .btnconfirm {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 186px;
    height: 50px;
    font-size: 151%;
    font-weight: 500;
    margin-top: 4%;
    padding-bottom: 4%;
}

.nplabel {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}

.npnewpassword {
  position: relative;
  right: 35%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.npconfirmpassword {
  position: relative;
  right: 35%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {

  #nploginimgid{
    display: none;
  }

  .npsignin {
    width: 270px;
    height: 76px;
    background-color: #14335D;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 36px;
  }

  #nplogoid img {
    margin-top: 10%;
    margin-left: 36%;
}

.npinput_fields {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 27.5%;
}

.npemail {
  position: relative;
  right: 37%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.npnewpassword {
  position: relative;
  right: 37%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.btnconfirm {
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  font-size: 151%;
  font-weight: 500;
  margin-top: 4%;
  padding-bottom: 4%;
}
}