html{
  height: 100vh;
}

.otpcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: 2.4fr 2fr;
  grid-template-areas: "OTPlogoid OTPimgid"
    "otpformid OTPimgid"
}

#OTPlogoid {
  grid-area: OTPlogoid;
}

#OTPimgid {
  grid-area: OTPimgid;
}
#OTPimgid img{
  height: 100vh;
  width: 65vw;
 
}
#fpimgid img{
  height: 100vh;
}

#otpformid {
  grid-area: otpformid;
  position: relative;
}

.OTP {
  width: 23vw;
  height: 6vh;
  background-color: #14335D;
  margin-left: 17%; 
  margin-top: 8%;

  padding: 0%;
}

.OTPLabel{
  display:inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
}

.req{
  color: red;
}

.BTNSendOtp{
  background-color: #0A8996;
  color: #fff;
  border-radius: 14px;
  width: 12vw;
  height: 6vh; 
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 8%;
  padding-bottom: 3%;
  font-family: 'Rubik';
font-style: normal;
margin-left: -13.5%;
border: none;
}

#OTPlogoid img{
  margin-top: 10%;
  width: 28vw;
  height: 28vh;
  margin-left: 3%;
}



.OTPemail{
  position: absolute;
  margin-top: -10%;
  margin-left: -70%;
   font-family: 'Rubik', sans-serif;
   font-size: 1.2vw;
   font-style: normal;
 font-weight: 500;
 
}



.OTPemailtextbox{
  width: 23vw;
  height: 4.5vh;
  margin-left: -20%;
  margin-top: -6%;
}




@media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) {
  .OTPemailtextbox {
      width: 29vw;
      height: 5.5vh;
      margin-left: -25%;
      margin-top: 16%;
      position: absolute;
}
  #OTPlogoid img {
    margin-top: 10%;
    width: 17vw;
    height: 30vh;
}
  .otpcontainer {
    overflow-y: hidden;
  }

  #OTPimgid img{
    height: 100vh;
    width: 60vw;
  }
  .BTNSendOtp:hover{
    background-color: #14335D;
  }
  .OTP {
    width: 29vw;
    height: 10vh;
    background-color: #14335D;
    margin-left: 15%;
    margin-top: 6%;
    font-size: 2vw;
  }

  .BTNSendOtp {
    background-color: #0A8996;
    color: #fff;
    border-radius: 14px;
    width: 13vw;
    height: 7vh;
    font-size: 1.5vw;
    font-weight: 700;
    margin-top: 39%;
    padding-bottom: 0%;
    font-family: 'Rubik';
    font-style: normal;
    border: none
}

.otplabel {
  display: inline-block;
  margin-top: 3%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  padding-top: 2%;
}

.OTPemail {
    position: absolute;
    margin-left: -75%;
    margin-top: 5%;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.password {
  position: relative;
  right: 35%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 425px) {
  #OTPimgid {
    /* display: none; */
    position: absolute;
    margin-top: 143%;
}
#OTPimgid img {
  height: 34vh;
  width: 100vw;
  animation: moveImage 5s infinite;
}
  #OTPlogoid img {
    width: 50%;
    height: auto;
    margin-top: 17%;
    margin-left: 49%;
}
.OTP{
  width: 68vw;
  height: 5vh;
  background-color: #14335D;
  margin-left: 24%;
  margin-top: 10%;
  margin-bottom: 84%;
  padding: 0%;
}
.OTPLabel{
  display: inline-block;
  margin: 2.5%;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
/* 
.input_fields {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 27.5%;
} */

.OTPemail {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: #14335D;
  margin-top: 0%;
  margin-left: -65%;
}
.OTPemailtextbox{
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-top: 0%;
}


.BTNSendOtp {
  background-color: #0A8996;
  color: #fff;
  border-radius: 10px;
  width: 14rem;
  height: 3.5rem;
  font-weight: 500;
  margin-top: 4%;
  padding-bottom: 0%;
  margin-left: 0%;
  font-size: 1.5rem;
}
}

.BTNSendOtp:hover{
  background-color: #14335D;
}