.mainscreen_buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50vh;
    gap: 20px;
}
.Page_Container{
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../../public/images/dashboardbackground.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.page_header{
    width: 100vw;
    height: 12vh;
    background: #FAFAFF;
    align-items: center;
    position: absolute;
    margin-top: -29%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.QR_page_header{
    width: 100vw;
    height: 12vh;
    background: #FAFAFF;
    align-items: center;
    position: absolute;
    margin-top: 0%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.QR_Code_Container{
    margin-top: 15%;
    /* border: 2px solid black; */
    border-radius: 14px;
    padding: 10px 10px 40px 10px;
    width: 30%;
    height: auto;
    margin-left: 35%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
#PageLogo{
    display: flex;
    float: left;
   margin-left: 4%;
   margin-top: 1%;
}
.Pagelogoimg{
    position: relative;
    width: 4.5vw;
    height: auto;
}
.UserSuplogo{
    display: flex;
    float: right;
   margin-right: 1%;
   margin-top: 2%;
}
.supportlogoimg{
    position: relative;
    width: 100%;
    height: auto;
}
.pagelabels{
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}
.Welcomepagelables{
    margin-top: -19%;
    position: absolute;
    margin-left: 40%;
}
.welcomelabel{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
color: #ffffff;
text-align: center;
font-size: 2vw;
}
.WLabelSize{
    font-size: 3.5vw;
    color: #ffffff;
}
.modulesboxes{
    display: flex;
    margin-top: -9%;
    margin-left: 23%;
    justify-content: center;
    position: absolute;
}
.GuardMod_box{
    background: #EEF5FF;
border: 4px solid #14335D;
border-radius: 21px;
width: 13vw;
height: 18vh;
justify-content: center;
}
.BOXESMargin{
    margin-right: 5%;
margin-left: 9%;

}
.GM_image{
    width: 16vw;
    height: 11vh;
    margin-top: 2%;
    margin-left: -21%;
}
.GM_label{
    
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
text-align: center;
margin-top: 7%;
color: #060606;
font-size: 1vw;
}
.LP_SideImage{
    position: absolute;
    margin-left: 5%;
    margin-top: -24.5%;
}
.Sideimagesize{
    width: 95vw;
    height: auto;
}
.LP_RSideImage{
    position: absolute;
    margin-left: 70%;
    margin-top: 7.5%;
}
.Right_Sideimagesize{
    width: 13vw;
    height: auto;
}
.LP_CSideImage{
    position: absolute;
    margin-left: 41%;
    margin-top: 7%;
}
.Center_Sideimagesize{
    width: 9.7vw;
    height: auto;
}
.LP_CMAnSideImage{
    position: absolute;
    margin-left: 47.5%;
    margin-top: 9%;
}
.CenterMan_Sideimagesize{
    width: 7.5vw;
    height: auto;
}
.ellipseimg{
    position: initial;
margin-top: 0%;
width: 100vw;
height: auto;
}
.LBackGimg{
    width: 98vw;
    height: auto;
   position: absolute;
   margin-left: -100%;
   margin-top: 23.5%;
   margin-bottom: 0%;
}

.copyright{
    width :100%;
    height :5%;
    background-color: #0a8996;
    margin-top: 30%;
    color: #ffffff;
   padding-top: 14px;
   z-index: 99999;
}


a:link {
    color: white;
    text-decoration: none;
  } 

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
  }
  .QR_copyright {
    width :100%;
    height :10%;
    background-color: #0a8996;
    margin-top: 25%;
    color: #ffffff;
   padding: 8px;
   z-index: 99999;
   align-items: center;
    }
  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .ellipseimg {
        position: initial;
        margin-top: 9%;
        width: 100vw;
        height: auto;
    }
    .page_header {
        width: 100vw;
        height: 9.5vh;
        background: #FAFAFF;
        align-items: center;
        position: absolute;
        margin-top: -38%;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    }
    .QR_page_header {
        width: 100vw;
        height: 10vh;
        background: #FAFAFF;
        align-items: center;
        position: absolute;
        margin-top: 0%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .Page_Container{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .Pagelogoimg {
        position: relative;
        width: 15vw;
        margin-top: 8px;
        height: 8vh;
    }
    .supportlogoimg {
        position: relative;
        width: 100%;
        height: 5vh;
        margin-top: 50%;
        margin-left: -20%;
    }
    .pagelabels {
        float: right;
        margin-top: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .HelpLinelabel {
        font-size: 1.2rem;
    }
    .HelplineNolabel{
        font-size: 1.1rem;
    }

    .UserSuplogo{
        width: 34px;
    }


    .LP_SideImage {
        bottom: 0;
        margin-top: 0;
        margin-bottom: 12%;
        width: 100vw;
        height: 25vh;
    }
    
    .BOXESMargin {
        display: flex;
        margin-left: 23%;
        margin-right: 0 !important;
        margin-bottom: 2%;
    }

    .welcomelabel {
        font-size: 2.1rem;
        margin-right: 0%;
        /* margin-top: 25% !important; */
    }
    .WLabelSize {
        font-size: 1.7rem;
        color: #ffffff;
    }
    .LBackGimg {
        display: none;
    }

    .GuardMod_box {
        width: 70%;
        height: 14vh;
        display: flex;
        flex-direction: column;
        margin-top: 2.5%;
        justify-content: center;
        align-items: center;
    }
    .GM_label {
        font-size: 4vw;
        margin-top: -5%;
    }
    .GM_image {
        margin-left: 0;
        height: auto;
        width: 14vw;
    }

    .modulesboxes {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow-y: scroll !important;
        margin-left: 0;
        margin: 1% 0% 0% 0%;
        height: auto;
        position: relative;
    }
    .Welcomepagelables {
        display: flex;
        margin-top: -15%;
        margin-left: 37%;
    }
    .copyright {
        position: absolute;
        bottom:0;

    }
    .QR_copyright {
        position: absolute;
        bottom:0;
        padding: 14px;
        height: auto;
        font-size: 3vw;
    }
    .QR_Code_Container {
        margin-top: 45%;
        border-radius: 14px;
    padding: 10px 10px 35px 10px;
    width: 77%;
    height: auto;
    margin-left: 10.5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }
  }